﻿<!-- Bank Withdrawal day, Account Holder Name-->
<div class="row">
	<div class="col-sm-5">
		<label class="control-label" translate="yes">Withdrawal Day</label>
		<!-- bootstrapped radio buttons stopped working. workaround found below -->
		<!-- http://stackoverflow.com/questions/19015056/how-to-make-twitter-bootstrap-button-groups-work-with-angularjs -->
		<div class="btn-group">
			<a href="javascript:void(0)" ng-click="vm.editableDonation.bwDay=1"
			   ng-class="vm.editableDonation.bwDay!=1 ? 'btn btn-info' : 'btn btn-primary'" translate="yes">1st</a>
			<a href="javascript:void(0)" ng-click="vm.editableDonation.bwDay=8"
			   ng-class="vm.editableDonation.bwDay!=8 ? 'btn btn-info' : 'btn btn-primary'" translate="yes">8th</a>
			<a href="javascript:void(0)" ng-click="vm.editableDonation.bwDay=16"
			   ng-class="vm.editableDonation.bwDay!=16 ? 'btn btn-info' : 'btn btn-primary'" translate="yes">16th</a>
			<a href="javascript:void(0)" ng-click="vm.editableDonation.bwDay=25"
			   ng-class="vm.editableDonation.bwDay!=25 ? 'btn btn-info' : 'btn btn-primary'" translate="yes">25th</a>
		</div>
	</div>
	<div class="col-sm-7" ng-class="{'has-error' : sponsorshipForm.bwAccountHolder.$invalid && (vm.showErrors || sponsorshipForm.bwAccountHolder.$touched)}">
		<label for="bwAccountHolder" class="control-label" translate="yes">Account Holder Name</label>
		<input type="text" id="bwAccountHolder" name="bwAccountHolder" class="form-control"
			   ng-model="vm.editableDonation.bwAccountHolder" ng-required="vm.editableDonation.paymentType == 'B'"
			   ng-maxlength="32" placeholder="Full name of the account holder" ng-disabled="vm.selectedPaymentMethod.authorizationType!=undefined" />
		<span class="help-block" ng-show="sponsorshipForm.bwAccountHolder.$error.required && (vm.showErrors || sponsorshipForm.bwAccountHolder.$touched)" translate>
			Account holder name is required.
		</span>
		<span class="help-block" ng-show="sponsorshipForm.bwAccountHolder.$error.maxlength" translate="yes">
			Account holder name is too long (32 max).
		</span>
	</div>
</div>
<!-- Transit #, Bank #, Acccount # -->
<div class="row">
	<div class="col-sm-4" ng-class="{'has-error' : sponsorshipForm.bwTransitNumber.$invalid && (vm.showErrors || sponsorshipForm.bwTransitNumber.$touched)}">
		<label for="bwTransitNumber" class="control-label" translate>Transit #</label>
		<input type="text" id="bwTransitNumber" name="bwTransitNumber" class="form-control"
			   ng-model="vm.editableDonation.bwTransitNumber"
			   ng-required="vm.editableDonation.paymentType == 'B'" ng-disabled="vm.selectedPaymentMethod.authorizationType!=undefined"
			   placeholder="{{'Transit #' | translate}}" valid-number />
		<span class="help-block" ng-show="sponsorshipForm.bwTransitNumber.$error.required && (vm.showErrors || sponsorshipForm.bwTransitNumber.$touched)" translate>
			Transit Number is required.
		</span>
	</div>
	<div class="col-sm-3" ng-class="{'has-error' : sponsorshipForm.bwBankNumber.$invalid && (vm.showErrors || sponsorshipForm.bwBankNumber.$touched)}">
		<label for="bwBankNumber" class="control-label" translate>Bank #</label>
		<input type="text" id="bwBankNumber" name="bwBankNumber" class="form-control"
			   ng-model="vm.editableDonation.bwBankNumber"
			   ng-required="vm.editableDonation.paymentType == 'B'" ng-disabled="vm.selectedPaymentMethod.authorizationType!=undefined"
			   placeholder="{{'Bank #' | translate}}" valid-number />
		<span class="help-block" ng-show="sponsorshipForm.bwBankNumber.$error.required && (vm.showErrors || sponsorshipForm.bwBankNumber.$touched)" translate>
			Bank Number is required.
		</span>
	</div>
	<div class="col-sm-5" ng-class="{'has-error' : sponsorshipForm.bwAccountNumber.$invalid && (vm.showErrors || sponsorshipForm.bwAccountNumber.$touched)}">
		<label for="bwAccountNumber" class="control-label" translate>Account #</label>
		<input type="text" id="bwAccountNumber" name="bwAccountNumber" class="form-control"
			   ng-model="vm.editableDonation.bwAccountNumber"
			   ng-required="vm.editableDonation.paymentType == 'B'" ng-disabled="vm.selectedPaymentMethod.authorizationType!=undefined"
			   ng-hide="vm.selectedPaymentMethod.authorizationType!=undefined"
			   placeholder="{{'Account #' | translate}}" valid-number />
		<input type="text" id="bwAccountNumberMasked" name="bwAccountNumberMasked" class="form-control"
			   ng-model="vm.editableDonation.bwAccountNumberMasked"
			   ng-disabled="vm.selectedPaymentMethod.authorizationType!=undefined" ng-show="vm.selectedPaymentMethod.authorizationType!=undefined" />
		<span class="help-block" ng-show="sponsorshipForm.bwAccountNumber.$error.required && (vm.showErrors || sponsorshipForm.bwAccountNumber.$touched)" translate>
			Account Number is required.
		</span>
	</div>


</div>
<!-- Helper Image -->
<div class="row">
	<br />
	<img src="../../Content/cheque.png" alt="cheque" class="img-responsive center-block" ng-show="vm.lang=='en'" />
	<img src="../../Content/cheque_fr.png" alt="cheque" class="img-responsive center-block" ng-show="vm.lang=='fr'" />
	<img src="../../Content/cheque_zh.png" alt="cheque" class="img-responsive center-block" ng-show="vm.lang=='zh'" />
</div>