﻿<div class="content">
	DonationService: {{va.donationService}}
	<br /><br />
	DonorService: {{va.donorService}}
	<br/><br/>
	SponsorshipService: {{va.sponsorshipService}}
	<br /><br />
	CommonService: {{va.commonService}}
	<br /><br />
	Moneris: {{va.moneris}}
	<br /><br />
	SpAddOn: {{va.spAddon}}
</div>
