﻿<!-- busy progress bar -->
<div class="screen-overlay" ng-class="{ 'show' : vm.isBusy }">
	<div class="loading"></div>
</div>
<br />

<div class="fullContent hasBackground" ng-show="vm.selectedPledgeOffer.pledge_Type_Code != 'SP' && !vm.showSummary">
	<form name="nonSpForm" class="form-inline">
		<div class="pad15" style="position: relative;" ng-show="vm.serviceAvailable">
			<h1 class="collectionTitle" translate="yes">Experience the Joy of Changing Lives</h1>
			<!--<div class="alert alert-danger" ng-show="vm.errors.length > 0 && !vm.showInformationForm">
				<div class="row" ng-repeat="e in vm.errors track by $index">
					<div class="col-sm-12" ng-class="help-block">
						<span class="help-block">{{ e }}</span>
					</div>
				</div>
			</div>-->
			<div ng-hide="vm.showInformationForm">
				<!-- pledge image -->
				<div class="pledgeImage">
					<div style="position: relative;">
						<img ng-src="/RemoteContent/img/{{vm.selectedPledgeOffer.image_Name}}" alt="pledge type image">
					</div>
				</div>
				<!-- pledge information -->
				<div class="pledgeInfo">
					<h4 class="center" translate="yes">{{ vm.selectedPledgeOffer.business_Pledge_Description }}</h4>
					<h5 class="center" translate="yes">
						Designation Code: {{ vm.selectedPledgeOffer.designation_Code}}, Donor id: {{vm.donorid}}
					</h5>
					<div>
						<div class="col-md-6">
							<div>{{ vm.selectedPledgeOffer.pledge_Tag_Line }}</div>
							<div class="savePledge" ng-show="!nonSpForm.txtPledgeAmount.$invalid">
								<input type="submit" class="btn btn-primary" value="Save" translate="yes"
									   ng-click="vm.savePledgeOffer(sponsorshipForm)" />

								<!--<button type="button" class="btn btn-primary" ng-click="vm.savePledgeOffer(sponsorshipForm)" translate="yes">
									save
								</button>-->
							</div>
						</div>

						<div class="col-md-6">
							<div ng-class="{'has-error' : vm.errorPaymentFreq }">
								<select name="paymentFrequency" id="paymentFrequency" class="form-control" 
										ng-model="vm.selectedDollarHandle"
										ng-options="po.payment_Frequency_Description for po in vm.selectedPledgeOffer.pledgeOffersDollarHandles"
										ng-change="vm.selectPaymentFrequency()" ng-show="!vm.isSg"></select>
							</div>
							<div>
								<select name="sgDesignation" id="sgDesignation" class="form-control" 
										ng-model="vm.selectedSgDesignation"
										ng-options="po.business_Designation_Description for po in vm.sgDropDown"
										ng-change="vm.selectSg()" ng-show="vm.isSg"></select>
							</div>
							<div class="pledgeAmountSection" >
								<div class="dollarSign form-control">$</div>
								<div ng-class="{'has-error' : (vm.errorAmountMessage!='' || nonSpForm.txtPledgeAmount.$invalid || nonSpForm.txtPledgeAmount.$error.pattern)}">
									<input type="number" id="txtPledgeAmount" name="txtPledgeAmount" class="form-control"
										   placeholder="Custom Amount"
										   ng-pattern="/^\d{0,9}?$/"
										   min="{{vm.selectedDollarHandle.minimum_Dollar_Amount}}" 
										   max="{{vm.maxAmount}}"
										   ng-model="vm.selectedDollarHandle.dollar_Handle_Custom" />
									<span class="help-block" translate="yes" 
										  ng-show="nonSpForm.txtPledgeAmount.$error.min || nonSpForm.txtPledgeAmount.$error.max">
										Amount must be within {{vm.selectedDollarHandle.minimum_Dollar_Amount}} and {{vm.maxAmount}}.
									</span>
									<span class="help-block" translate="yes" ng-show="nonSpForm.txtPledgeAmount.$error.number">
										Input amount contains invalid characters.
									</span>
									<span ng-if="vm.errorAmountMessage!=''" class="help-block" translate="yes">{{vm.errorAmountMessage}}</span>
								</div>
							</div>
							
							<div class="btn-group">
								<input class="btn btn-default dollarHandle" type=button value=${{vm.selectedDollarHandle.dollar_Handle1}}
									   ng-click="vm.selectedDollarHandle.dollar_Handle_Custom=vm.selectedDollarHandle.dollar_Handle1" 
									   ng-class="{'roundRightCorners' : vm.selectedDollarHandle.dollar_Handle2 == 0 && vm.selectedDollarHandle.dollar_Handle3 == 0}">
								<input class="btn btn-default dollarHandle" type=button value=${{vm.selectedDollarHandle.dollar_Handle2}} 
									   ng-click="vm.selectedDollarHandle.dollar_Handle_Custom=vm.selectedDollarHandle.dollar_Handle2" 
									   ng-hide="vm.selectedDollarHandle.dollar_Handle2 == 0">
								<input class="btn btn-default dollarHandle" type=button value=${{vm.selectedDollarHandle.dollar_Handle3}} 
									   ng-click="vm.selectedDollarHandle.dollar_Handle_Custom=vm.selectedDollarHandle.dollar_Handle3" 									   
									   ng-hide="vm.selectedDollarHandle.dollar_Handle3 == 0">
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="text-left" ng-hide="vm.selectedChildren.length==0 && vm.savedPledges.length==0">
				<button type="button" class="btn btn-primary"
						ng-click="vm.showInformationForm=true;vm.showSummary=true;" translate="yes">
					Go back to Checkout
				</button>
			</div>
			<!-- summary start -->
			<!-- summary ended -->
		</div>
	</form>
</div>

<!--  SP  -->
<div class="fullContent hasBackground" ng-show="vm.selectedPledgeOffer.pledge_Type_Code == 'SP' && !vm.showSummary">
	<div class="pad15" style="position: relative;" ng-show="vm.serviceAvailable">
		<h1 class="collectionTitle" translate="yes">Experience the Joy of Changing a Child's Life</h1>
		<!--<div class="alert alert-danger" ng-show="vm.errors.length > 0 && !vm.showInformationForm">
			<div class="row" ng-repeat="e in vm.errors track by $index">
				<div class="col-sm-12" ng-class="help-block">
					<span class="help-block">{{ e }}</span>
				</div>
			</div>
		</div>-->
		<div ng-repeat="c in vm.children" ng-hide="vm.showInformationForm">
			<!-- child image -->
			<div id="childImage">
				<div style="position: relative;">
					<img ng-src="{{c.imageUrl}}" alt="child image">
				</div>
			</div>
			<!-- child information -->
			<div id="childInfo">
				<div class="childData">
					<label translate="yes">Country Code</label>
					<span class="tooltipster tooltipstered">{{ c.countryCode }}</span>
					<label translate="yes">, Project ID</label>
					<span class="tooltipster tooltipstered">{{ c.projectId }}</span>
					<label translate="yes">, Child Number</label>
					<span class="tooltipster tooltipstered">{{c.childNumber}}</span>
					<label translate="yes">, Donor Id</label>
					<span class="tooltipster tooltipstered">{{vm.donorid}}</span>
					<br />
					<label translate="yes">Gender</label>
					<span class="tooltipster tooltipstered">{{c.gender}}</span>
				</div>
				<h2><span translate="yes">Hi, I am</span> {{ c.firstName }}</h2>
				<ul class="miniInfo">
					<li id="birthdayInfo">
						<label class="tooltipLabelHelp">Birthday</label>
						<span class="tooltipster tooltipstered">{{ c.birthday | date :mediumdate }}</span>
					</li>
					<li id="countryInfo">
						<label class="tooltipLabelHelp">Country</label>
						<span class="tooltipster tooltipstered">{{ c.country }}</span>
					</li>
					<li id="choresInfo">
						<label class="tooltipLabelHelp">Chores</label>
						<span class="tooltipster tooltipstered">{{c.chore}}</span>
					</li>
					<li id="subjectInfo">
						<label class="tooltipLabelHelp">Favourite Subject</label>
						<span class="tooltipster tooltipstered">{{c.favoriteSubject}}</span>
					</li>
					<li id="playInfo">
						<label class="tooltipLabelHelp">Favourite Play</label>
						<span class="tooltipster tooltipstered">{{c.favoritePlay}}</span>
					</li>
				</ul>
				<p ng-hide="vm.lang=='zh'">{{ c.paragraph }}</p>
				<p translate="yes">Make a difference in <span class="WVblue">{{ c.firstName }}'s</span> life for just <span class="WVblue">$39 a month!</span></p>
				<div class="buyNow">
					<a ng-click="vm.readyToSponsor(vm.children[0].projectId, vm.children[0].childNumber, vm.offset)"
					   ng-hide="vm.showInformationForm || vm.children.length<1" class="sponsorMe button">
						<i class="fa fa-arrow-circle-right"></i> <span translate="yes">Sponsor {{ c.firstName }} today</span>
					</a>
				</div>
			</div>
			<a id="rightPaginate" ng-click="vm.showChild(vm.nextPageUrl)" ng-disabled="vm.isBusy" ng-hide="vm.showInformationForm || vm.totalPages == 0">
				<i class="fa fa-angle-right"></i>
			</a>
			<a id="leftPaginate" ng-click="vm.showChild(vm.prevPageUrl)" ng-disabled="vm.isBusy" ng-hide="vm.showInformationForm || vm.totalPages == 0">
				<i class="fa fa-angle-left"></i>
			</a>
		</div>
		<!-- summary start child1-->
		<!-- summary end child1-->
	</div>
	<div class="text-left" ng-hide="vm.selectedChildren.length==0 && vm.savedPledges.length==0">
		<button type="button" class="btn btn-primary"
				ng-click="vm.showInformationForm=true;vm.showSummary=true;" translate="yes">
			Go back to Checkout
		</button>
	</div>
	<!-- summary start child2-->
	<!-- summary end child2-->
	<!-- no children found -->
	<div class="row" ng-show="vm.children.length<1 && !vm.showInformationForm">
		<div class="col-xs-12 text-center"><strong translate="yes">We're sorry. We were not able to find any children that match your search. Please try again.</strong> </div>
	</div>
</div>

<div class="fullContent hasBackground" ng-show="vm.selectedPledgeOffer.pledge_Type_Code == 'SP' && !vm.showSummary">
	<!-- search -->
	<form class="form-inline" role="form" ng-hide="vm.showInformationForm">
		<div class="text-left">
			<h2 translate="yes">Refine your search results</h2>
			<p>
				<span translate="yes">Filter results by gender, age, or country. Or, pick a birthday that is special to you!</span>
				<span class="searchError" ng-hide="vm.totalPages==0">
					<span translate="yes">Children Available:</span> {{vm.totalPages + 1}}
				</span>
			</p>
		</div>
		<div ng-show="vm.lang=='fr'">
			<label>Communication avec l'enfant:</label>
			<label><input type="checkbox" ng-model="vm.includeFrench" ng-change="vm.searchChildren(vm.searchParams)">en français</label>
			<label><input type="checkbox" ng-model="vm.includeEnglish" ng-change="vm.searchChildren(vm.searchParams)">en anglais</label>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<select name="gender" id="gender" class="form-control" ng-model="vm.searchParams.gender"
						ng-options="obj.code as obj.description for obj in vm.genderCodeList"
						ng-change="vm.searchChildren(vm.searchParams)"></select>
				<select name="country" id="country" class="form-control" ng-model="vm.searchParams.country"
						ng-options="obj.code as obj.description for obj in vm.countryCodeList"
						ng-change="vm.searchChildren(vm.searchParams)"></select>
				<select name="age" id="age" class="form-control" ng-model="vm.searchParams.age"
						ng-options="obj.value as obj.description for obj in vm.ageList"
						ng-change="vm.searchChildren(vm.searchParams)"></select>
				<select name="month" id="month" class="form-control" ng-model="vm.searchParams.month"
						ng-options="obj.value as obj.description for obj in vm.monthList"
						ng-change="vm.searchChildren(vm.searchParams)"></select>
				<select name="day" id="day" class="form-control" ng-model="vm.searchParams.day"
						ng-options="obj.value as obj.description for obj in vm.dayList"
						ng-change="vm.searchChildren(vm.searchParams)"></select>
				<input type="checkbox" id="ignoreMotivation" name="ignoreMotivation"
					   ng-model="vm.ignoreMotivation" ng-change="vm.searchChildren(vm.searchParams)">
				<span translate="yes">
					Search online children
				</span>
				<div class="clearSearch">
					<input class="reset" type="submit" value="{{'CLEAR' | translate}}" ng-click="vm.resetSearch();vm.searchChildren(vm.searchParams);">
				</div>
			</div>
		</div>
	</form>
</div>
<ng-include src="vm.contentUrl" ng-show="vm.showMarketingInfo"></ng-include>

<form editable-form role="form" class="form-horizontal" name="sponsorshipForm">
	<!-- summary start -->
	<div class="fullContent hasBackground" ng-show="vm.serviceAvailable && vm.showSummary">
		<!--<form editable-form role="form" name="summaryForm" class="form-inline"  onaftersave="vm.savePledgeInSummary(summaryForm.$invalid)">-->
			<div class="pad15" style="position: relative;">
				<h1 class="collectionTitle" translate="yes">Experience the Joy of Changing Lives</h1>
				<!-- sponsorship summary start -->
				<div ng-repeat="c in vm.selectedChildren">
					<div class="split">
						<!-- child image -->
						<div id="childImage">
							<div style="position: relative;">
								<img ng-src="{{c.child.imageUrl}}" alt="child image">
							</div>
						</div>
						<!-- child information -->
						<div id="childInfo">
							<div class="childData">
								<label translate="yes">Country Code</label>
								<span class="tooltipster tooltipstered">{{ c.child.countryCode }}</span>
								<label translate="yes">, Project ID</label>
								<span class="tooltipster tooltipstered">{{ c.child.projectId }}</span>
								<label translate="yes">, Child Number</label>
								<span class="tooltipster tooltipstered">{{c.child.childNumber}}</span>
								<label translate="yes">, Donor Id</label>
								<span class="tooltipster tooltipstered">{{vm.donorid}}</span>
								<br />
								<label translate="yes">Gender</label>
								<span class="tooltipster tooltipstered">{{c.child.gender}}</span>
							</div>
							<!--<i class="fa fa-times fa-3 btn" ng-click="vm.removeChild(c.child)"></i>-->
							<h2><span translate="yes">Hi, I am</span> {{ c.child.firstName }}</h2>
							<ul class="miniInfo">
								<li id="birthdayInfo">
									<label class="tooltipLabelHelp">Birthday</label>
									<span class="tooltipster tooltipstered">{{ c.child.birthday | date :mediumdate }}</span>
								</li>
								<li id="countryInfo">
									<label class="tooltipLabelHelp">Country</label>
									<span class="tooltipster tooltipstered">{{ c.child.country }}</span>
								</li>
								<li id="choresInfo">
									<label class="tooltipLabelHelp">Chores</label>
									<span class="tooltipster tooltipstered">{{c.child.chore}}</span>
								</li>
								<li id="subjectInfo">
									<label class="tooltipLabelHelp">Favourite Subject</label>
									<span class="tooltipster tooltipstered">{{c.child.favoriteSubject}}</span>
								</li>
								<li id="playInfo">
									<label class="tooltipLabelHelp">Favourite Play</label>
									<span class="tooltipster tooltipstered">{{c.child.favoritePlay}}</span>
								</li>
							</ul>
							<p ng-hide="vm.lang=='zh'">{{ c.child.paragraph }}</p>
							<p translate="yes">Make a difference in <span class="WVblue">{{ c.child.firstName }}'s</span> life for just <span class="WVblue">$39 a month!</span></p>
							<div class="text-left">
								<button type="button" class="btn btn-primary" ng-click="vm.removeChild(c.child)" translate="yes">
									Remove {{c.child.firstName}}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="text-left" ng-show="vm.selectedChildren.length > 0 && vm.savedPledges.length == 0">
					<button type="button" class="btn btn-primary"
							ng-click="vm.findAnotherChild('', '', '')" translate="yes">
						Please find me another child to sponsor.
					</button>
				</div>
				<!-- sponsorship summary end -->

				<!-- pledges summary start -->
				<div ng-repeat="p in vm.savedPledges">
					<div class="pledgeImage">
						<div style="position: relative;">
							<img ng-src="/RemoteContent/img/{{p.pledge.image_Name}}" alt="pledge type image">
						</div>
					</div>
					<!-- pledge information -->
					<div class="pledgeInfo">
						<h4>{{p.product}}</h4>
						<div class="split">{{p.pledge.pledge_Tag_Line}}</div>
						<div class="row">
							<div class="col-md-7">
								<span editable-select="p.dollarHandle" e-name="summaryPayFrequency"  e-form="sponsorshipForm"
										onbeforesave="vm.checkFrequency($data, $index)" 
										e-ng-options="dh.payment_Frequency_Description for dh in p.pledge.pledgeOffersDollarHandles">
									{{ p.dollarHandle.payment_Frequency_Description }}
								</span>
							</div>
							<div class="col-md-5" ng-class="{'summaryAmount' : sponsorshipForm.$visible }">
								<span editable-text="p.dollarHandle.dollar_Handle_Custom" 
									  e-form="sponsorshipForm" e-name="summaryAmount" onbeforesave="vm.checkAmount($data, $index)">
									{{ p.dollarHandle.dollar_Handle_Custom | currency }}
								</span>
								<span class="summaryDollarSign" ng-show="sponsorshipForm.$visible">$</span>
							</div>

						</div>

						<div class="summaryButtons">
							<button type="button" class="btn btn-primary" ng-disabled="sponsorshipForm.$waiting"
									ng-click="vm.removePledgeOffer(p)">Remove</button>&nbsp;&nbsp;

							<button type="button" ng-disabled="sponsorshipForm.$waiting" ng-click="sponsorshipForm.$show();"
									class="btn btn-default pull-right" ng-show="!sponsorshipForm.$visible">
								Edit</button>

							<input type="submit" class="btn btn-default pull-right " value="Save"
								   ng-show="sponsorshipForm.summaryPayFrequency.$dirty || sponsorshipForm.summaryAmount.$dirty"
								   ng-click="vm.validateSummaryPledges(sponsorshipForm.$invalid)"
								   ng-disabled="!vm.serviceAvailable" />

						</div>
					</div>
				</div>
				<!-- pledges summary ended -->

				<!-- total amount -->
				<div class="summaryFooter">
					<div>
						<h2 class="col-md-6">Donation Summary</h2>
						<!-- total value -->
						<div class="col-md-6">
							<h4>Total {{vm.overallPaymentFreq}}: {{vm.totalAmounts() | currency}}</h4>
						</div>
					</div>
				</div>
			</div>
		<!--</form>-->
	</div>

	<!-- summary end -->

	<!-- pledge offer drop down -->
	<!--<div class="fullContent hasBackground" ng-hide="vm.showInformationForm">-->
	<!--<div class="pad15 text-left" style="position: relative;" ng-show="vm.serviceAvailable">-->
	<div class="fullContent hasBackground" ng-hide="vm.showInformationForm || vm.selectedChildren.length > 0">
		<div class="pad15 text-left" style="position: relative;" ng-show="vm.serviceAvailable && !vm.showSummary">
			<!--<form name="pledgeOfferForm" class="form-inline" role="form">-->
			<div class="form-inline">
				<h2>Other Pledges</h2>
				<select name="pledgeOffer" id="pledgeOffer" class="form-control" ng-model="vm.selectedPOBusinessDescription"
						ng-change="vm.selectPledgeOffer()">
					<option ng-repeat="po in vm.pledgeOfferBusinessDescription">{{po}}</option>
				</select>
			</div>
			<!--</form>-->
		</div>
	</div>

	<div class="fullContent hasBackground" ng-show="vm.showDonorInformation">
		<div class="text-left">
			<div class="alert alert-danger" ng-show="vm.errors.length > 0">
				<div class="row">
					<div class="col-sm-12" ng-class="help-block">
						<h4 translate="yes">Form Errors</h4>
					</div>
				</div>
				<div class="row" ng-repeat="e in vm.errors track by $index">
					<div class="col-sm-12" ng-class="help-block">
						<span class="help-block">{{ e }}</span>
					</div>
				</div>
			</div>
			<!--<form editable-form role="form" class="form-horizontal" name="sponsorshipForm">-->
				<fieldset>
					<h2 translate="yes">Please complete form to sponsor</h2>
					<!-- Name -->
					<h4 translate="yes">Personal Information</h4>
					<div class="col-md-12">
						<span translate="yes">Select the choice that best describes you: </span>
						<span>{{vm.editableDonationDonorType()}}</span>
						<!--
						<label for="isOrg" class="control-label" translate="yes">Select the choice that best describes you:</label>
						<input type="radio" ng-model="vm.editableDonation.person.orgName==''?'I':'B'" value="I" disabled /><span translate="yes">Individual</span>
						<input type="radio" ng-model="vm.editableDonation.person.orgName!=''?'B':'I'" value="B" disabled /><span translate="yes">Group/Business</span>
						-->
					</div>
					<div class="col-md-3 col-sm-3" ng-class="{'has-error' : sponsorshipForm.title.$invalid && (vm.showErrors || sponsorshipForm.title.$touched)}">
						<label for="title" class="control-label" translate="yes">Title</label>
						<select name="title" id="title" class="form-control" ng-model="vm.editableDonation.person.title"
								ng-options="obj.value as obj.text for obj in vm.titles"></select>
						<span class="help-block" ng-show="sponsorshipForm.title.$error.required && (vm.showErrors || sponsorshipForm.title.$touched)" translate="yes">
							Title is required.
						</span>
					</div>
					<div class="col-md-4 col-sm-9" ng-class="{'has-error' : sponsorshipForm.firstName.$invalid && (vm.showErrors || sponsorshipForm.firstName.$touched)}">
						<label for="firstName" class="control-label" translate="yes">First Name</label>
						<input type="text" id="firstName" name="firstName" class="form-control"
							   ng-model="vm.editableDonation.person.firstName" ng-required="true" ng-maxlength="20" ng-disabled="true" />
						<span class="help-block" ng-show="sponsorshipForm.firstName.$error.required && (vm.showErrors || sponsorshipForm.firstName.$touched)" translate="yes">
							First Name is required.
						</span>
						<span class="help-block" ng-show="sponsorshipForm.firstName.$error.maxlength" translate="yes">
							First Name is too long (20 max).
						</span>
					</div>
					<div class="col-md-1 col-sm-3" ng-class="{'has-error' : sponsorshipForm.initial.$invalid && sponsorshipForm.initial.$touched}">
						<label class="small" for="initial" translate="yes">Initial</label>
						<input type="text" id="initial" name="initial" class="form-control"
							   ng-model="vm.editableDonation.person.initial" ng-maxlength="1" ng-disabled="true" />
						<span class="help-block small" ng-show="sponsorshipForm.initial.$error.maxlength" translate="yes">
							Initial too long (max 1).
						</span>
					</div>
					<div class="col-md-4 col-sm-9" ng-class="{'has-error' : sponsorshipForm.lastName.$invalid && (vm.showErrors || sponsorshipForm.lastName.$touched)}">
						<label for="lastName" class="control-label" translate="yes">Last Name</label>
						<input type="text" id="lastName" name="lastName" class="form-control"
							   ng-model="vm.editableDonation.person.lastName" ng-required="true" ng-maxlength="20" ng-disabled="true" />
						<span class="help-block" ng-show="sponsorshipForm.lastName.$error.required && (vm.showErrors || sponsorshipForm.lastName.$touched)" translate="yes">
							Last Name is required.
						</span>
						<span class="help-block" ng-show="sponsorshipForm.lastName.$error.maxlength" translate="yes">
							Last Name is too long (20 max).
						</span>
					</div>
					<!-- email and phone -->
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-12" ng-class="{'has-error' : sponsorshipForm.email.$invalid && (vm.showErrors || sponsorshipForm.email.$touched)}">
								<label for="email" class="control-label" translate="yes">Email</label>
								<input type="email" id="email" name="email" class="form-control"
									   ng-model="vm.editableDonation.person.email"
									   ng-pattern="/^[-_a-zA-Z0-9#]+(\.[-_a-zA-Z0-9#]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" />
								<span class="help-block" ng-show="sponsorshipForm.email.$invalid && (vm.showErrors || sponsorshipForm.email.$touched)" translate="yes">
									A valid email is required.
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12" ng-class="{'has-error' : sponsorshipForm.homePhone.$invalid && (vm.showErrors || sponsorshipForm.homePhone.$touched)}">
								<label class="control-label" for="homePhone" translate="yes">Home Phone</label>
								<input type="text" id="homePhone" name="homePhone" class="form-control"
									   ng-model="vm.editableDonation.person.homePhone"
									   ng-required="!(vm.editableDonation.person.businessPhone)"
									   ng-minlength="10"
									   ng-pattern="/^[(]{0,1}[1]{0,1}[\.\- ]{0,1}[2-9]{1}[0-9]{2}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" />
								<span class="help-block" ng-show="sponsorshipForm.homePhone.$invalid && (vm.showErrors || sponsorshipForm.homePhone.$touched)">
									A valid home or business phone number is required.
								</span>
								<span class="help-block" ng-show="sponsorshipForm.homePhone.$error.minlength && (vm.showErrors || sponsorshipForm.homePhone.$touched)" translate="yes">
									Phone number must be at least 10 characters.
								</span>
							</div>
							<div class="col-sm-8" ng-class="{'has-error' : sponsorshipForm.businessPhone.$invalid && (vm.showErrors || sponsorshipForm.businessPhone.$touched)}">
								<label class="control-label" for="businessPhone" translate="yes">Business Phone</label>
								<input type="text" id="businessPhone" name="businessPhone" class="form-control"
									   ng-model="vm.editableDonation.person.businessPhone" ng-minlength="10"
									   ng-pattern="/^[(]{0,1}[1]{0,1}[\.\- ]{0,1}[2-9]{1}[0-9]{2}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" />
								<span class="help-block" ng-show="sponsorshipForm.businessPhone.$invalid && (vm.showErrors || sponsorshipForm.businessPhone.$touched)">
									Phone number invalid.
								</span>
								<span class="help-block" ng-show="sponsorshipForm.businessPhone.$error.minlength && (vm.showErrors || sponsorshipForm.businessPhone.$touched)" translate="yes">
									Phone number must be at least 10 characters.
								</span>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="businessPhoneExt" translate="yes">Ext.</label>
								<input type="text" id="businessPhoneExt" name="businessPhoneExt" class="form-control"
									   ng-model="vm.editableDonation.person.businessPhoneExt" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12" ng-class="{'has-error' : sponsorshipForm.mobilePhone.$invalid && (vm.showErrors || sponsorshipForm.mobilePhone.$touched)}">
								<label class="control-label" for="mobilePhone" translate="yes">Cell Phone</label>
								<input type="text" id="mobilePhone" name="mobilePhone" class="form-control"
									   ng-model="vm.editableDonation.person.mobilePhone"
									   ng-required="!(vm.editableDonation.person.homePhone)"
									   ng-minlength="10"
									   ng-pattern="/^[(]{0,1}[1]{0,1}[\.\- ]{0,1}[2-9]{1}[0-9]{2}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" />
								<span class="help-block" ng-show="sponsorshipForm.mobilePhone.$invalid && (vm.showErrors || sponsorshipForm.mobilePhone.$touched)">
									A valid home or cell phone number is required.
								</span>
								<span class="help-block" ng-show="sponsorshipForm.mobilePhone.$error.minlength && (vm.showErrors || sponsorshipForm.mobilePhone.$touched)" translate="yes">
									Phone number must be at least 10 characters.
								</span>
							</div>
						</div>
					</div>
					<!-- address -->
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12" ng-class="{'has-error' : sponsorshipForm.addressLine1.$invalid && (vm.showErrors || sponsorshipForm.addressLine1.$touched)}">
								<label for="addressLine1" class="control-label" translate="yes">Address Line 1</label>
								<input type="text" id="addressLine1" name="addressLine1" class="form-control"
									   ng-model="vm.editableDonation.person.addressLine1"
									   ng-maxlength="255" />
								<span class="help-block" ng-show="sponsorshipForm.addressLine1.$error.required && (vm.showErrors || sponsorshipForm.addressLine1.$touched)" translate="yes">
									Address Line 1 is required.
								</span>
								<span class="help-block" ng-show="sponsorshipForm.addressLine1.$error.maxlength" translate="yes">
									Address Line 1 too long (255 max).
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="addressLine2" class="control-label" translate="yes">Address Line 2</label>
								<input type="text" id="addressLine2" name="addressLine2" class="form-control"
									   ng-model="vm.editableDonation.person.addressLine2" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5" ng-class="{'has-error' : sponsorshipForm.city.$invalid && (vm.showErrors || sponsorshipForm.city.$touched)}">
								<label for="city" class="control-label" translate="yes">City</label>
								<input type="text" id="city" name="city" class="form-control"
									   ng-model="vm.editableDonation.person.city" ng-required="true" ng-maxlength="128" />
								<span class="help-block" ng-show="sponsorshipForm.city.$error.required && (vm.showErrors || sponsorshipForm.city.$touched)" translate="yes">
									City is required.
								</span>
								<span class="help-block" ng-show="sponsorshipForm.city.$error.maxlength" translate="yes">
									City too long (128 max).
								</span>
							</div>
							<div class="col-sm-3" ng-class="{'has-error' : sponsorshipForm.province.$invalid && (vm.showErrors || sponsorshipForm.province.$touched)}">
								<label class="control-label small" for="province" translate="yes">Province</label>
								<select name="province" id="province" class="form-control"
										ng-model="vm.editableDonation.person.province"
										ng-required="true"
										ng-options="prov for prov in vm.provinces"></select>
								<span class="help-block" ng-show="sponsorshipForm.province.$error.required && (vm.showErrors || sponsorshipForm.province.$touched)" translate="yes">
									Province is required.
								</span>
							</div>
							<div class="col-sm-4" ng-class="{'has-error' : sponsorshipForm.postalCode.$invalid && (vm.showErrors || sponsorshipForm.postalCode.$touched)}">
								<label class="control-label small" for="postalCode" translate="yes">Postal Code</label>
								<input type="text" id="postalCode" name="postalCode" class="form-control"
									   ng-model="vm.editableDonation.person.postalCode"
									   ng-required="true"
									   ng-pattern="/^([a-zA-Z]\d[a-zA-z]( )?\d[a-zA-Z]\d)$/" />
								<span class="help-block" ng-show="sponsorshipForm.postalCode.$error.required && (vm.showErrors || sponsorshipForm.postalCode.$touched)" translate="yes">
									Postal Code is required.
								</span>
								<span class="help-block" ng-show="sponsorshipForm.postalCode.$error.pattern && (vm.showErrors || sponsorshipForm.postalCode.$touched)" translate="yes">
									Postal Code is invalid.
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<input type="checkbox" id="receiveEmails" name="receiveEmails"
							   ng-model="vm.editableDonation.person.subscribeToEmail"><span translate="yes">I would like to receive World Vision email updates.</span>
					</div>
					<div class="col-md-12" ng-show="vm.selectedPledgeOffer.pledge_Type_Code == 'SP'">
						<input type="checkbox" id="receiveEmails" name="receiveEmails"
							   ng-model="vm.editableDonation.sieInOpt"><span translate="yes">Send my sponsored child a letter of introduction</span>
						<a data-toggle="popover" data-placement="top"
						   data-trigger="focus" role="button" tabindex="0" ng-click="vm.openPopup();"
						   data-content="{{'We can send your sponsored child a letter of introduction on your behalf. This is a special greeting introducing you to the child as their new sponsor(s). You will receive a confirmation email once your letter has been sent, after you first donation has been processed.' | translate}}">
							<i class="fa fa-question-circle"></i>
						</a>
					</div>
					<div class="col-md-12">
						<h4 translate="yes">Payment Information</h4>
						<!-- Pledges Section: dropdown menu -->
						<div class="pledge-control">
							<div class="btn-group-vertical" role="group">
								<div class="dropdown">
									<button type="button" class="btn btn-default btn-sm dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{{vm.selectPaymentMethod()}} <b class="caret"></b>
									</button>
									<ul class="dropdown-menu">
										<li ng-click="vm.newCreditCard()"><a href="" translate="yes">New Credit Card...</a></li>
										<li ng-click="vm.newBankAccount()" 
												ng-hide="vm.selectedPledgeOffer.pledge_Type_Code == 'SG' || vm.selectedDollarHandle.payment_Frequency_Code == 'O'">
											<a href="" translate="yes">New Bank Account...</a>
										</li>
										<li ng-click="vm.selectCheque()"><a href="" translate="yes">Cheque...</a></li>
										<li ng-repeat="payMethod in vm.paymentMethods">
											<a href="">
												<span ng-hide="!payMethod.canAcceptPledges"
													  ng-click="vm.selectPayment(payMethod.paymentMethodId)">
													{{payMethod.paymentMethodName}}
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- New Credit Card -->
						<fieldset ng-show="vm.editableDonation.paymentType == 'NT'">
							<div class="row">
								<div class="well">
									<div class="col-sm-12" ng-hide="vm.isMonerisError">
										<iframe id=monerisFrame ng-src="{{vm.monerisUrlSrc}}"
												frameborder='0'
												width="200"
												height="90"></iframe>
										<div class="row split" ng-show="vm.showDeductionDate">
											<div class="col-md-5" ng-class="{'has-error' : (sponsorshipForm.txtCcDeductionDate.$error.min || sponsorshipForm.txtCcDeductionDate.$error.max)}">
												<span translate="yes">Deduction date (mm/dd/yyyy)</span>
												<input type="date" id="txtCcDeductionDate" name="txtCcDeductionDate" 
													   class="form-control"
													   ng-model="vm.ccDeductionDate"
													   min="{{vm.minDeductionDate}}" max="{{vm.maxDeductionDate}}" />
												<span class="help-block" translate="yes"
													  ng-show="sponsorshipForm.txtCcDeductionDate.$error.min || sponsorshipForm.txtCcDeductionDate.$error.max">
													Deduction date must be between {{vm.minDeductionDate | date:'MM/dd/yyyy'}} and {{vm.maxDeductionDate | date:'MM/dd/yyyy'}}.
												</span>
											</div>
											<!-- per conversation with Maria, we dont need withdrawal day for this sprint start -->
											<!--<div class="col-sm-2">
												<span translate="yes">Withdrawal day</span>
												<select name="ccWithdralDay" id="ccWithdralDay" class="form-control"
														ng-model="vm.ccWithdrawalDay"
														ng-options="i for i in vm.dayRange"></select>
											</div>-->
											<!-- end -->
										</div>
									</div>
									<div ng-hide="vm.isMonerisError">
										<input class="btn btn-default" type=button ng-click=vm.monerisSubmit() value="Submit Credit Card" translate="yes">
									</div>
									<div ng-show="vm.isMonerisError">
										<p>{{vm.monerisErrorMessage}}</p>
										<input class="btn btn-default" type=button ng-click=vm.newCreditCard() value="Re-enter Credit Card" translate="yes">
									</div>
								</div>
							</div>
						</fieldset>
						<!-- Credit Card Information -->
						<fieldset ng-show="vm.editableDonation.paymentType == 'C' && (vm.ccinfo.mask!='' && vm.ccinfo.mask != undefined)">
							<div class="row">
								<div class="col-md-5 col-sm-12">
									<label for="creditCardNumber" class="control-label"><span translate="yes">Card Number</span> <span class="small">{{ vm.ccinfo.type }}</span></label>
									<label id="creditCardNumber" name="creditCardNumber" class="control-label">{{vm.ccinfo.mask}}</label>
								</div>
								<div class="col-md-4 col-sm-6">
									<label class="control-label small" for="expiryMonth" translate="yes">Expiry Month</label>
									<label name="expiryMonth" class="control-label">{{vm.editableDonation.expiryMonth}}</label>
								</div>
								<div class="col-md-3 col-sm-6">
									<label class="control-label small" for="expiryYear" translate="yes">Expiry Year</label>
									<label name="expiryYear" class="control-label">{{vm.editableDonation.expiryYear}}</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5 col-sm-12">
									<label for="WithdrawalDay" class="control-label"><span translate="yes">Withdrawal Day</span> 
									<span class="small">{{ vm.ccinfo.withdrawalDay }}</span>
									<span class="small">{{ vm.ccinfo.frequency }}</span></label>
								</div>
							</div>
							<div class="row split" ng-show="vm.showDeductionDate">
								<div class="col-md-5 col-sm-12" ng-class="{'has-error' : (sponsorshipForm.txtCcDeductionDateA.$error.min || sponsorshipForm.txtCcDeductionDateA.$error.max)}">
									<label class="control-label" translate="yes">Deduction date (mm/dd/yyyy)</label>
									<input type="date" id="txtCcDeductionDateA" name="txtCcDeductionDateA" class="form-control"
										   ng-model="vm.ccDeductionDate"
										   min="{{vm.minDeductionDate}}" max="{{vm.maxDeductionDate}}" />
									<span class="help-block" translate="yes"
										  ng-show="sponsorshipForm.txtCcDeductionDateA.$error.min || sponsorshipForm.txtCcDeductionDateA.$error.max">
										Deduction date must be between {{vm.minDeductionDate | date:'MM/dd/yyyy'}} and {{vm.maxDeductionDate | date:'MM/dd/yyyy'}}.
									</span>
								</div>
								<!-- per conversation with Maria, we dont need withdrawal day for this sprint -->
								<!--<div class="col-sm-2">
									<label class="control-label" translate="yes">Withdrawal day</label>
									<select name="ccWithdralDayA" id="ccWithdralDayA" class="form-control"
											ng-model="vm.ccWithdrawalDay"
											ng-options="i for i in vm.dayRange"></select>
								</div>-->
								<!-- end -->
							</div>
						</fieldset>
						<!-- Bankwithdrawal Information -->
						<fieldset ng-show="vm.editableDonation.paymentType == 'B'">
							<div bankaccount></div>
						</fieldset>
					</div>
					<div class="col-md-12" data-ng-show="vm.showSponsorshipAddon">
						<!-- Donation Information -->
						<h4>Other Pledges</h4>
						<input type="checkbox" id="addons" name="addons"
							   ng-model="vm.addonDonation" ng-click="vm.AddFirstPledge(sponsorshipForm);"><span>Would you like to add another pledge(s)?</span>
						<div class="row" ng-show="vm.addonDonation">
							<table class="table table-bordered table-hover table-condensed">
								<thead>
									<tr>
										<td>#</td>
										<td>Type / Name</td>
										<td>Amount</td>
										<td>Designation</td>
										<td ng-show="sponsorshipForm.$visible">Action</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="p in vm.addonPledges">
										<td><span>{{vm.dataIndex(p.guid)}}</span></td>
										<td>
											<!-- editable status (select-local) -->
											<span editable-select="p.designation" e-form="sponsorshipForm" e-ng-change="vm.onDesChanged(p.guid, $data)" e-ng-options="s.designation as s.type+' - '+s.name for s in vm.pledges">
												{{ vm.showPledge(p.designation) || 'empty' }}
											</span>
										</td>
										<td>
											<!-- editable username (text with validation) -->
											<span editable-text="p.amount" e-form="sponsorshipForm" onbeforesave="vm.checkAmount($data)">
												{{ p.amount || '0' }}
											</span>
										</td>
										<td>
											<!-- editable username (text with validation) -->
											<div ng-show="p.designation=='0'">
												<span editable-text="p.editdesignation" e-form="sponsorshipForm" onbeforesave="vm.checkDesignation($data)">
													{{ p.editdesignation || '0' }}
												</span>
											</div>
											<span ng-show="p.designation!='0'">
												{{ p.designation }}
											</span>
										</td>
										<td ng-show="sponsorshipForm.$visible"><button type="button" ng-show="sponsorshipForm.$visible" ng-click="vm.removePledge(p.guid)" class="btn btn-danger pull-right">Del</button></td>
									</tr>
								</tbody>
							</table>
							<div class="pull-left">
								<button type="button" ng-disabled="sponsorshipForm.$waiting" ng-click="sponsorshipForm.$show();" 
										class="btn btn-default pull-right" ng-show="!sponsorshipForm.$visible">Edit pledges</button>
								<button type="button" ng-disabled="sponsorshipForm.$waiting" ng-click="vm.addAddonPledge()" 
										class="btn btn-default pull-right" ng-show="!vm.allPledgesAdded">Add new pledge</button>
							</div>
						</div>
					</div>
					<!-- Action Buttons -->
					<div class="row">
						<div class="col-sm-12">
							<div class="pull-right">
								<!--<input type="submit" class="btn btn-link " value="Fill Form" ng-click="fillForm()" />-->
								<input type="submit" class="btn btn-link " value="{{'Reset' | translate}}" ng-click="vm.resetForm()" ng-show="sponsorshipForm.$dirty || vm.showErrors" />
								<input type="submit" class="btn btn-primary " value="{{ !sponsorshipForm.$visible || vm.addonPledges.length==0 ?'Submit':'Save'}}"
									   ng-click="vm.submitForm(sponsorshipForm.$invalid, vm.offset, sponsorshipForm.summaryPayFrequency.$dirty || sponsorshipForm.summaryAmount.$dirty)"
									   ng-disabled="!vm.serviceAvailable" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="help-block pull-right" ng-hide="vm.serviceAvailable" translate="yes">
								World Vision Canada Service not available.
							</div>
						</div>
					</div>
				</fieldset>
			<!--</form>-->
		</div>
	</div>
</form>

<ng-include src="vm.contentUrlFooter"></ng-include>
<script type="text/ng-template" id="modalThankYou.html">
	<div class="modal-body">
		<div ng-show="modalContent.totalSpAmounts>0">
			<h2 translate="yes">Thank you for sponsoring </h2>
			<div ng-repeat="c in modalContent.children">
				<!-- child image -->
				<div id="childImagePopup">
					<div style="position: relative;">
						<img ng-src="{{c.child.imageUrl}}" alt="child image">
					</div>
				</div>
				<!-- child information -->
				<div id="childInfo">
					<span class="tooltipster tooltipstered">
						<label translate="yes">Firstname:</label> {{ c.child.firstName }} <br />
						<label translate="yes">Lastname:</label> {{ c.child.lastName }}
					</span><br />
					<label translate="yes">Country Code: </label>
					<span class="tooltipster tooltipstered">{{ c.child.countryCode }}</span>,
					<label translate="yes">Project ID: </label>
					<span class="tooltipster tooltipstered">{{ c.child.projectId }}</span>,
					<label translate="yes">Project Name: </label>
					<span class="tooltipster tooltipstered">{{ c.child.projectName }}</span>,
					<label translate="yes">Child Number: </label>
					<span class="tooltipster tooltipstered">{{c.child.childNumber}}</span>,
					<label translate="yes">Donor Id: </label>
					<span class="tooltipster tooltipstered">{{modalContent.donorId}}</span>
				</div>
			</div>
			<h2>Total Monthly Sponsorship Donation: ${{modalContent.totalSpAmounts}}</h2>
		</div>
		<div ng-show="modalContent.totalNonSpAmounts>0">
			<div ng-show="modalContent.totalSpAmounts>0"><hr /></div>
			<h2 translate="yes">Thank you for your {{modalContent.pledgeDescription | lowercase}}</h2>
			<div ng-repeat="d in modalContent.donations">
				<br/>
				<!-- child image -->
				<div id="pledgeImagePopup">
					<div style="position: relative;">
						<img ng-src="/RemoteContent/img/{{d.pledge.image_Name}}" alt="pledge image {{d.pledge.image_Name}}">
					</div>
				</div>
				<!-- donation information -->
				<div id="childInfo">
					<label translate="yes">Pledge Type: </label>
					<span class="tooltipster tooltipstered">{{ d.pledge.business_Pledge_Description }}</span><br />
					<label translate="yes">Designation Code: </label>
					<span class="tooltipster tooltipstered">{{ d.pledge.designation_Code }}</span><br />
					<label translate="yes">Amount: </label>
					<span class="tooltipster tooltipstered">{{ d.dollarHandle.dollar_Handle_Custom | currency}}</span><br />
					<label translate="yes">Donor ID: </label>
					<span class="tooltipster tooltipstered">{{ modalContent.donorId }}</span><br />
				</div><br/><br/>
			<h2 translate="yes">Total {{modalContent.pledgeDescription}}: {{modalContent.totalNonSpAmounts | currency}}</h2>
		</div>
		<!--<div ng-show="modalContent.totalAmounts>0">
			<hr />
			<h2>
				<span ng-show="modalContent.totalSpAmounts>0">Thank you for the Sponsorship of ${{modalContent.totalSpAmounts}}</span>
				<span ng-show="modalContent.totalSpAmounts>0 && modalContent.totalNonSpAmounts>0">and for the Donations of </span>
				<span ng-show="modalContent.totalSpAmounts==0 && modalContent.totalNonSpAmounts>0">Thank you for the Non Sponsorship of $</span>
				<span ng-show="modalContent.totalNonSpAmounts>0">${{modalContent.totalNonSpAmounts}}, </span>
				 
				so now your monthly amount will be ${{modalContent.totalAmounts}}.
			</h2>
		</div>-->
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</script>
