﻿<div style="position:relative; padding:15px 0px; margin:0px; margin-top: 20px; background-color: #F1E7E1; font-family: Arial; font-size: 12px;" class="fullContent footerOgcContainer">
    <div style="position: relative;" class="wrapper">
        <div style="height:85px;">
            © Copyright 2015 World Vision Canada. All rights reserved.<br>
            Business/Registration Number: 119304855RR0001
        </div>
        <div style="margin: 0px; position: absolute; right: 0; top: 0;" class="footerCatalogueLogo">
            <a href="http://www.imaginecanada.ca/" target="_blank" title="Imagine Canada Ethical Code" class="footer-logos"><img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/imagine-white.png?3669200876658272891" alt=""></a>
            <a href="http://www.bbb.org/" target="_blank" title="Better Business Bureau" class="footer-logos"><img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/bbb-white.png?3669200876658272891" alt=""></a>
            <a href="https://www.cccc.org/certification" target="_blank" title="Canadian Council of Christian Charities Seal of Accountability" class="footer-logos"><img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/cccc-white.png?3669200876658272891" alt=""></a>
        </div>
    </div>
</div>