﻿<script>

    jQuery(document).ready(function () {

        jQuery(".tabTitle").click(function () {
            jQuery(".tabTitle").removeClass("active");
            jQuery(this).addClass("active");

            var rel = jQuery(this).attr("rel");

            if (rel == 'expect')
                jQuery("#bottomImage").show();
            else
                jQuery("#bottomImage").hide();

            jQuery(".tabsInfo").hide();
            jQuery("#" + rel).show();
        });


        jQuery(".tabTitle").first().click();

    });



</script>

<div class="fullContent hasBackground">
    <div class="tabs">
        <div class="tabTitle active" rel="expect">À quoi <br>vous attendre ?</div>
        <!--
        -->
        <div class="tabTitle" rel="provides">Qu'apporte<br>le parrainage ?</div>
        <!--
        -->
        <div class="tabTitle" rel="works">Comment<br>ça fonctionne ?</div>
        <!--
        -->
        <div class="tabTitle" rel="about">À propos de<br>Vision Mondiale</div>
        <!--
        -->
    </div>

    <div class="tabsInfo" id="expect" style="display: block;">
        <h2>Vous permettez d'améliorer les conditions<br>de vie des enfants à long terme</h2>
        <ul class="expectUL">
            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/watch.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">APPRENEZ</span>
                    Apprenez en plus sur l’enfant que vous parrainez et découvrez les progrès réalisés dans sa communauté.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/connect.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">COMMUNIQUEZ</span>
                    Entrez en contact avec l’enfant en échangeant des lettres et des courriels ou en lui rendant visite dans sa communauté.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/share.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">PARTAGEZ</span>
                    Communiquez et partagez cette belle expérience avec vos amis et votre famille.
                </p>
            </li>
        </ul>
    </div>

    <div class="tabsInfo" id="provides" style="display: none;">
        <h2>Lorsque vous parrainez un enfant, vous l'aidez à se sortir du cycle de la pauvreté.</h2>
        <ul class="providesUL">
            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/education.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">ÉDUCATION</span>
                    L’éducation est la clé pour se sortir de la pauvreté. Apprendre à lire et à écrire est fondamental pour avoir accès à de meilleures opportunités pour l’avenir.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/safewater.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">EAU POTABLE</span>
                    Donner accès à de l’eau potable, enseigner les bonnes pratiques d’hygiène et construire des installations sanitaires amélioreront la santé des enfants.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/nutritiousfood.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">ALIMENTATION</span>
                    Des enfants en bonne santé ont plus d’énergie pour apprendre et jouer. Les familles pourront obtenir de meilleures récoltes et avoir ainsi des réserves durables de nourriture.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/healthcare.png?435361709650227710">
                <p class="center">
                    <span class="WVblue">SANTÉ</span>
                    Le parrainage offre aux enfants l’accès à des soins médicaux, à des vaccins, à des moustiquaires et aide ainsi à la prévention des maladies.
                </p>
            </li>
        </ul>
    </div>

    <div class="tabsInfo" id="works" style="display: none;">
        <h2>Donne un poisson à un homme, il mangera un jour. Apprends-lui à pêcher, il mangera toute sa vie.</h2>
        <p>La meilleure façon d’améliorer la vie des enfants est de changer leur quotidien. C’est ce que vous faites en parrainant un enfant.</p>
        <p></p>
        <p><strong>Votre soutien nous permettra d’améliorer leur accès à la nourriture, l’eau potable et les soins de santé</strong>, tout en leur enseignant des règles d’hygiènes de base afin de prévenir les maladies infantiles. <strong>Mais aussi d’aider les enfants à accéder à une éducation de qualité</strong> et s’assurer que les enseignants et les écoles soient équipés du matériel scolaire nécessaire. <strong>Et de s’assurer que les droits des enfants sont respectés</strong> et qu’ils reconnaissent les situations d’exploitation possibles telles que le travail et le mariage forcé.</p>

        <iframe src="https://player.vimeo.com/video/143332224?color=ffffff&amp;byline=0&amp;portrait=0" width="100%" height="455" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <p>Des milliers de personnes tout comme vous parrainent des enfants. Joignez-vous à elles et découvrez de quelle façon notre partenariat peut apporter des changements encore plus importants.</p>
    </div>

    <div class="tabsInfo" id="about" style="display: none;">
        <h2>À propos de Vision Mondiale</h2>
        <p>WVision Mondiale est le premier organisme au pays dévoué à améliorer la vie et l’avenir des enfants les plus vulnérables au monde. Nous avons plus de 60 ans d’expérience dans le domaine et nos employés et bénévoles passionnés travaillent sans relâche pour apporter des changements réels et durables dans la vie de plus de 100 millions de personnes à travers le monde. Nous pouvons faire notre travail, car vous vous êtes engagé à aider les enfants.</p>
        <h3>Ensemble. Plus loin.</h3>


        <div class="aboutContainer">
            <div class="aboutImage">
                <img class="chart" src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/diagram.svg?435361709650227710" alt="Diagram">
            </div>

            <div class="aboutText">
                <h4 class="WVorange">Pour chaque dollar donné</h4>
                <ul class="aboutLegend">
                    <li class="orangeIndent"><span class="number">80,8<sup>¢</sup></span> <label style="max-width:300px;">sont directement attribués aux programmes qui aident les enfants</label></li>
                    <li class="yellowIndent"><span class="number">14,4<sup>¢</sup></span> <label style="max-width:300px;">sont attribués aux collectes de fonds destinées à venir en aide aux enfants dans le besoin.</label></li>
                    <li class="greenIndent"><span class="number">4,8<sup>¢</sup></span> <label style="max-width:300px;">sont attribués aux frais administratifs.</label></li>
                </ul>
            </div>
        </div>


        <p>Soyez assuré(e) que nous utilisons vos dons de la meilleure façon possible afin d'améliorer au maximum les conditions de vie d'enfants vulnérables dans le monde entier. C'est pourquoi nous souhaitons que vous compreniez comment, en plus d'aider les enfants et les communautés que vous parrainez, une petite part de vos dons de parrainage mensuels aidera d’autres enfants encore plus vulnérables, et ce dans les régions où nous n'avons pas de programme de parrainage en place.</p>
        <p>Pour plus de détails, visitez <a class="WVblue" href="www.visionmondiale.ca/plusdimpact">www.visionmondiale.ca/plusdimpact</a> pour y découvrir comment votre contribution permet de venir en aide à des enfants dans les régions les plus difficiles à vivre au monde.</p>

    </div>

    <img id="bottomImage" style="margin-bottom: -5px; display: inline;" src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/sponsorship-1.jpg?435361709650227710">
    <img id="bottomImage2" style="margin-bottom: -5px; display: none;" src="//cdn.shopify.com/s/files/1/0954/0602/t/7/assets/sponsorship-2.jpg?435361709650227710">
</div>