﻿<script>

    jQuery(document).ready(function () {

        jQuery(".tabTitle").click(function () {
            jQuery(".tabTitle").removeClass("active");
            jQuery(this).addClass("active");

            var rel = jQuery(this).attr("rel");
            if (rel == 'expect')
                jQuery("#bottomImage").show();
            else
                jQuery("#bottomImage").hide();

            jQuery(".tabsInfo").hide();
            jQuery("#" + rel).show();
        });


        jQuery(".tabTitle").first().click();

    });

    

</script>

<div class="fullContent hasBackground">
    <div class="tabs">
        <div class="tabTitle active" rel="expect">What to Expect</div>
        <!--
        -->
        <div class="tabTitle" rel="provides">What Sponsorship Provides</div>
        <!--
        -->
        <div class="tabTitle" rel="works">How Sponsorship Works</div>
        <!--
        -->
        <div class="tabTitle" rel="about">About World Vision</div>
        <!--
        -->
    </div>

    <div class="tabsInfo" id="expect" style="display: block;">
        <h2>You are part of an exciting journey of transformation.</h2>
        <ul class="expectUL">
            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/watch.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Watch</span>
                    Meet your sponsored child through an introduction letter and videos directly from their community. Watch good things happen as you exchange letters, emails, and receive a yearly report
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/connect.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Connect</span>
                    You'll have access to online Community sites where you can discover your sponsored child's community, meet other children who live there, follow their progress and celebrate the successes
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/share.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Share</span>
                    As you see the positive changes unfold for your sponsored child, you'll want to tell others about how exciting it is to help change a child's life!
                </p>
            </li>
        </ul>
    </div>

    <div class="tabsInfo" id="provides" style="display: none;">
        <h2>When you sponsor a child, you give that child the opportunity to live without poverty.</h2>
        <h3>For about $1 a day, you help provide access to life-saving basics that change their future.</h3>
        <ul class="providesUL">
            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/education.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Education</span>
                    Books, uniforms, classroom repairs, and training for teachers and parents provide a child with opportunities for the future.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/safewater.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Safe Water</span>
                    Access to safe water through well-drilling, pumps, and training in hygiene and sanitation decreases child mortality and frees up time for education instead of water collection.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/nutritiousfood.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Nutritious Food</span>
                    World Vision goes beyond food distributions but also focuses on creating sustainable food supplies through agricultural programs and nutritional training. Healthy children have more energy for life.
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/healthcare.png?5828370206034162886">
                <p class="center">
                    <span class="WVblue">Health Care</span>
                    Your sponsorship provides access to things like medical clinics, vaccinations, training in disease prevention and other health care programs.
                </p>
            </li>
        </ul>
    </div>

    <div class="tabsInfo" id="works" style="display: none;">
        <h2>Give a man a fish and you feed him for a day. Teach a man to fish and you feed him for a lifetime.</h2>
        <p>The best way to change a child's life is to change the world they live in. That's why when you sponsor a child, you are not only helping them, but you are changing an entire community. By combining sponsorships in that region, we can fund programs that help create sustainability in the community and give children the best opportunities for a stable and fruitful life.</p>
        <img src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/works.png?5828370206034162886">
        <p>Thousands of Canadians just like you sponsor children. <b>Join them today</b> and start seeing the bigger difference we can make together.</p>
    </div>

    <div class="tabsInfo" id="about" style="display: none;">
        <h2>About World Vision</h2>
        <p>World Vision Canada is the nation's leading agency dedicated to improving the lives and futures of the world's most vulnerable children. We have over 50 years of experience, our passionate staff and volunteers are dedicated to providing real and lasting change to over 100 million people in World Vision supported communities. But, we can only do this because you are committed to helping children.</p>
        <h3>Join us and see the bigger difference we can make together.</h3>


        <div class="aboutContainer">
            <div class="aboutImage">
                <img class="chart" src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/diagram.svg?5828370206034162886" alt="Diagram">
            </div>

            <div class="aboutText">
                <h4 class="WVorange">For every dollar you give</h4>
                <ul class="aboutLegend">
                    <li class="orangeIndent"><span class="number"><sup>¢</sup>80.8</span> <label>goes directly toward programs that help<br>children.</label></li>
                    <li class="yellowIndent"><span class="number"><sup>¢</sup>14.4</span> <label>goes toward raising more funds to reach more<br>children.</label></li>
                    <li class="greenIndent"><span class="number"><sup>¢</sup>4.8</span> <label>goes to toward administration costs.</label></li>
                </ul>
            </div>
        </div>







        <p>We want you to be confident in how World Vision uses your donations to make the biggest difference in the lives of vulnerable children around the world. That's why we want you to understand how, in addition to helping your sponsored child and community, a small portion of your monthly sponsorship donation will help children in desperate need even in places where we do not have child sponsorship programs.</p>
        <p>For details, please visit <a class="WVblue" href="http://www.worldvision.ca/reachmore">www.worldvision.ca/reachmore</a> to see how your partnership with us helps even more children in some of the world's most difficult places to live.</p>

    </div>

    <img id="bottomImage" style="margin-bottom: -5px;" src="//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/sponsorship-1.jpg?5828370206034162886">
</div>