﻿<div style="position:relative; padding:15px 0px; margin:0px; margin-top: 20px; background-color: #F1E7E1; font-family: Arial; font-size: 12px;" class="fullContent footerOgcContainer">
    <div style="position: relative;" class="wrapper">
        <div style="height:85px;">
            © Vision Mondiale Canada - 2015 tous droits réservés.<br>
            Numéro d'entreprise: 119304855RR0001
        </div>
        <div style="margin: 0px; position: absolute; right: 0; top: 0;" class="footerCatalogueLogo">
            <a href="http://www.imaginecanada.ca/" target="_blank" title="Imagine Canada Ethical Code" class="footer-logos"><img src="//cdn.shopify.com/s/files/1/0877/4540/t/6/assets/imagine-white.png?12750969498050050704" alt=""></a>
            <a href="http://www.bbb.org/" target="_blank" title="Conseil des bureaux d'éthique commerciale" class="footer-logos"><img src="//cdn.shopify.com/s/files/1/0877/4540/t/6/assets/bbb-white.png?12750969498050050704" alt=""></a>
            <a href="https://www.cccc.org/certification" target="_blank" title="Canadian Council of Christian Charities Seal of Accountability" class="footer-logos"><img src="//cdn.shopify.com/s/files/1/0877/4540/t/6/assets/cccc-white.png?12750969498050050704" alt=""></a>
        </div>
    </div>
</div>