﻿<script>

    jQuery(document).ready(function () {

        jQuery(".tabTitle").click(function () {
            jQuery(".tabTitle").removeClass("active");
            jQuery(this).addClass("active");

            var rel = jQuery(this).attr("rel");

            if (rel == 'expect')
                jQuery("#bottomImage").show();
            else
                jQuery("#bottomImage").hide();

            jQuery(".tabsInfo").hide();
            jQuery("#" + rel).show();
        });


        jQuery(".tabTitle").first().click();

    });



</script>
<div class="fullContent hasBackground">
    <div class="tabs">
        <div class="tabTitle" rel="expect">助養須知</div>
        <!--
        -->
        <div class="tabTitle active" rel="provides">助養計劃提供的幫助</div>
        <!--
        -->
        <div class="tabTitle" rel="works">助養計劃的運作方式</div>
        <!--
        -->
        <div class="tabTitle" rel="about">關於世界宣明會</div>
        <!--
        -->
    </div>

    <div class="tabsInfo" id="expect" style="display: none;">
        <h2>您正在參與改寫生命的奇妙旅程</h2>
        <ul class="expectUL">
            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/watch.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">觀看</span>
                    透過您的助養兒童社區直接寄來的簡介信件及錄像影片，您可以認識您的助養孩子。你還可以進一步透過書信來往、電郵及閱讀我們為您送上的年度報告，觀看一切美好事物的出現。
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/connect.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">聯繫</span>
                    您可以加入我們的網上社群，瞭解您的助養兒童的社區、認識在那裏生活的其他孩子、跟進他們的成長及慶祝他們的成就。
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/share.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">分享</span>
                    當您看到助養孩子所經歴的正面改變後，您必然會想與別人分享由幫助改寫孩子生命而來的喜悅。
                </p>
            </li>
        </ul>
    </div>

    <div class="tabsInfo" id="provides" style="display: block;">
        <h2>當您助養一名孩子時，您便為那名孩子帶來脫貧的機會。</h2>
        <h3>您每天只需付出大約$1，便能夠為孩子提供一些能挽救生命的基本需要，改寫他們的未來。</h3>
        <ul class="providesUL">
            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/education.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">教育</span>
                    為孩子送上書本、校服、班房維修服務，以及為老師及家長提供培訓，可以給予孩子一個更美好的明天。
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/safewater.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">安全飲用水</span>
                    透過水井鑽探及水泵建設，為孩子提供安全飲用水，並為他們提供個人及公共衛生方面的培訓，減低兒童死亡率，讓他們能把平日打水的時間用來學習。
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/nutritiousfood.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">營養飲食</span>
                    世界宣明會在糧食配給的工作以外，還透過耕種項目及營養飲食培訓，幫助社區創造可持續的糧食生產方式。孩子健康，生命才有活力。
                </p>
            </li>

            <li>
                <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/healthcare.png?12681714496471310618">
                <p class="center">
                    <span class="WVblue">醫療護理</span>
                    您的助養支持能為社區提供診所服務、疫苗注射，以及有關預防疾病及其他醫療方面的教育。
                </p>
            </li>
        </ul>
    </div>

    <div class="tabsInfo" id="works" style="display: none;">
        <h2>給予對方一條魚，您餵飽他一天。教導對方怎樣打魚，您餵飽他一生。</h2>
        <p>改變孩子生命的最佳方法，就是改變他們生活的世界。所以當您助養一名兒童的時候，您不單是幫助他，更加改變了他整個社區。當我們把那個地區的助養款項結合起來的時候，便可以資助不同項目，讓那裏成為一個可持續發展的社區，以致孩子可以獲得最好的機會，去過一個安穩及豐盛的生命。</p>
        <img src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/works.png?12681714496471310618">
        <p>無數像您一樣的加拿大人已經成為我們的兒童助養人。今天您也加入他們的行列，携手為世界帶來更大的改變吧！</p>
    </div>

    <div class="tabsInfo" id="about" style="display: none;">
        <h2>關於世界宣明會</h2>
        <p>加拿大世界宣明會是全國領先的志願機構，致力幫助改善世界上最弱勢兒童的生命，給予他們更美好的未來。我們擁有超過50年的扶貧工作經驗，我們的員工及義工團隊懷著滿腔熱誠，為世界宣明會所支持的社區盡心服務，為超過一億人口帶來實在而長遠的改變。我們能夠這樣做，全賴有您對扶助兒童工作的熱心支持。</p>
        <h3>加入我們的行列，携手為世界帶來更大的改變。</h3>


        <div class="aboutContainer">
            <div class="aboutImage">
                <img class="chart" src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/diagram.svg?12681714496471310618" alt="Diagram">
            </div>

            <div class="aboutText">
                <h4 class="WVorange">您每捐$1</h4>
                <ul class="aboutLegend">
                    <li class="orangeIndent"><span class="number">＄0.808會</span> <label>直接用來資助兒童社區項目發展。</label></li>
                    <li class="yellowIndent"><span class="number">＄0.144會</span> <label>用於籌款工作上。</label></li>
                    <li class="greenIndent"><span class="number">＄0.048會</span> <label>撥作行政費用。</label></li>
                </ul>
            </div>
        </div>

        <p>加拿大世界宣明會很樂意給您信心及讓您明白，我們如何運用您的捐款去幫助世界各地的弱勢兒童，徹底地改變他們的生命。因此，我們必須讓您清楚知道，您每月的助養捐款除了用來幫助您的助養兒童及其社區外，我們還運用其中少量金錢來幫助一些有極大需要的兒童，即使那些兒童所居住的社區並沒有助養兒童計劃。</p>
        <p>歡迎上網到<a href="http://chinese.worldvision.ca/reachmore">http://chinese.worldvision.ca/reachmore</a>，進一步瞭解您的助養捐款如何能有效地幫助更多在世界各地最艱難地方中生活的兒童。</p>

    </div>

    <img id="bottomImage" style="margin-bottom: -5px; display: none;" src="//cdn.shopify.com/s/files/1/0877/4522/t/6/assets/sponsorship-1.jpg?12681714496471310618">
</div>

<style>

.fullContent {
  margin-bottom: 20px; 
}

.tabsInfo {
  display: none; 
  padding: 40px 80px;
}

#provides {
  padding: 40px 26px !important;
  }

.tabsInfo h2 {
  font-weight: normal;
  font-size: 44px;
  line-height: 40px;
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  color: #006699;
  padding-bottom: 20px;
  border-bottom: 2px solid #ededed;
  margin-bottom: 20px;
}

.tabsInfo h3 {
  color: black;
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom:30px;
}

.tabsInfo p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
  margin:10px 0;
  text-align: left;
}

.tabsInfo span {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 34px;
  margin: 10px 0px; 
}

.tabsInfo ul {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.tabsInfo li {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
  margin: 1%;
}

.providesUL p {
  font-size: 12px;
  }
  
.providesUL li {
  width: 22%;
  margin: 5px;
}

#about {
  text-align: left; 
}

.providesUL span {
  font-size: 20px;
}

.aboutContainer {
  width: 90%;      
  margin: 0 auto;
  text-align: center
}

.aboutContainer h4 {
  text-align: left; 
}

.aboutImage {
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.aboutText {
  display: inline-block;
  vertical-align: top;
}

.aboutLegend {
  list-style-type: none;
  margin-top: 10px !important;
}

.aboutLegend li {      
  clear: both;
  display: block;
  margin-bottom: 10px; 
  font-family: Arial;
  text-align: left;
  padding-left:20px;
  width: 100%;
  position: relative;

}

.aboutLegend li:before {
  content: '\f0c8';
  font-family: FontAwesome;
  margin: 0 5px 0 0px;
  position: absolute;
  left:0;
  top: 0px;
}

.aboutContainer .number {
  font-family: 'Gill Sans W01 Bold';
  font-size: 24px;
  width: 115px;
  text-align: right;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 5px 0px 0px;
  line-height: inherit;
}

.aboutLegend label {
  font-family: Arial;
  color: #333!important;
  display: inline-block;
  vertical-align: top;
}

.separator {
  margin: 0 5px;    
}

</style>