﻿/* =================== */
/*      SECTION 1      */
/* =================== */
/* 1.1 - Globals */
.lr_fade { display: none !important; }

html,body { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  background-color: #e1e1e1; 
  overflow-x: hidden;
}

html { 
  font-size: 62.5%; 
  -webkit-touch-callout:none; 
  -webkit-text-size-adjust:none; 
  -ms-text-size-adjust:100%; 
  height: 100%; 
}

body { 
  line-height: 1.45em;
  font-size: 15px; 
  color: #555555; 
  min-height: 100%;
  position: relative;
  width: 100%;
  background-color:#e1e1e1 !important;
}

.onlyMobile {
  display: none; 
}

.disabled{ pointer-events: none; }

#greyBox {
  background-color: #e1e1e1;
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  text-align: center;
}

#page {
  text-align: left;
}

#content {
  width: 100%;
  padding: 0px;
  margin-top: -10px;
  outline: 0;
}

#content:focus {
  outline: 0;
}

.leftContent {
  display: inline-block;
  width: 74%;
  text-align:left;
  max-width: 710px;
}

.rightContent {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: center;
  max-width: 253px;
}

.fullContent {
  width: 100%;
  height: 100%;
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color: #003366;
  left: auto;
  top: auto;
  width: 150px;
  height: auto;
  overflow: auto;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 5px;
  border: 4px solid #003366;
  text-align: center;
  font-size: 1em;
  z-index: 999;
  font-family: 'Gill Sans W01 Bold', Arial, Helvetica;
}




/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em auto; 
  padding: 0; 
  width: 90%;
}

/* 1.3 - Forms and Inputs */
form { margin:0; padding:0; }

::-webkit-input-placeholder { color:#999999 !important; }
:-moz-placeholder { color:#999999 !important; }
:-ms-input-placeholder { color:#999999 !important; }

@-moz-document url-prefix() { select { padding:6px;  } } /* Firefox fix */
img { max-width:100%; border: 0; -ms-interpolation-mode: bicubic; }
ul, ol { margin: 0 0 20px 20px; padding: 0; }
ul { list-style:disc outside none; }

select { 
  padding: 10px; 
  display:inline-block; 
  font-family: Arial; 
  vertical-align:top; 
  border:1px solid #ccc; 
  -moz-border-radius:1px; 
  -webkit-border-radius:1px; 
  border-radius:1px; 
}

input[type="search"] { 
  -webkit-appearance: textfield; 
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box; 
}

input[type="search"]::-webkit-search-decoration { 
  -webkit-appearance: none; 
}

textarea { 
  overflow: auto; 
  vertical-align: top;
}

input[type=text], input[type=search], input[type=number], textarea { 
  padding: 5px 0 5px 10px; 
  -webkit-appearance: none; 
  vertical-align:top; 
  font-size:13px; 
  border:1px solid #ccc; 
  display:inline-block; 

  -moz-border-radius:1px; 
  -webkit-border-radius:1px; 
  border-radius:1px; 

  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; 
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; 
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; 
}

input.focus, input:focus, textarea.focus, textarea:focus {
  outline: 0;
}

input[type=checkbox], input[type=radio] { 
  -webkit-appearance: radio; 
  height:16px; 
  line-height:16px; 
  vertical-align:middle; 
}

input[type=checkbox] { 
  -webkit-appearance:checkbox; 
}

input[type=file] { 
  cursor:pointer; border:none; 
  box-shadow:none; 
  padding:0; 
  margin:0; 
}

input[type=submit] { cursor:pointer; }


/* 1.4 - Typography */
::-webkit-input-placeholder { font-style:italic; color:#f00; } /* chrome */
::-moz-placeholder { font-style:italic; color:#f00; } /* firefox 19+ */
:-ms-input-placeholder { font-style:italic; color:#f00; } /* ie */
input:-moz-placeholder { font-style:italic; color:#f00; } /* whatever */


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  word-wrap: break-word;
  font-family: 'Gill Sans W01 Book';
}
h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold { font-family: 'Gill Sans W01 Bold'; }

h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 28px; line-height: 32px; }
h3 { font-size: 24px; line-height: 28px; }
h4 { font-size: 20px; line-height: 24px; margin-bottom: 5px; }
h5 { font-size: 16px; line-height: 20px; }
h6 { font-size: 12px; line-height: 16px; }

h1.note, h2.note, h3.note, h4.note, h5.note, h6.note { font-variant: small-caps; }

label, p, select, span, a { font-family: 'Arial'; }

label, p, select { 
  font-size: 13px; 
  line-height: 16px; 
  margin:0; 
}

label.bold, p.bold, select.bold { 
  font-family: 'Arial Bold';
}

p {
  margin-bottom: 10px; 
}

p .footnote {
  font-size: 11px;
  color: #777;
  line-height: 1.3em; 
}

/* 1.5 - Links and Buttons */
a { 
  color:#000;
  text-decoration: none;
}
a:hover { 
  opacity: 0.9;
}

.greyButton {
  text-transform: uppercase;
  background-color:#888888; 
  border-radius: 4px; 
  text-indent:0; 
  display:inline-block; 
  color:#ffffff; 
  font-family: 'Gill Sans W01 Bold'; 
  font-size:14px; 
  font-style:normal; 
  height:40px; 
  line-height:40px; 
  width:100%; 
  text-decoration:none; 
  text-align:center; 
  text-shadow:1px 1px 2px #874417; 
  cursor:pointer;
  border: none;
}

.greyButton:hover {
  background-color:#666666; 
}

.greyButton:active {
  position:relative; 
  top:1px;
}

.blueButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  background-color:#006699; 
  border-radius: 4px; 
  text-indent:0; 
  display:inline-block; 
  color:#ffffff; 
  font-family: 'Gill Sans W01 Bold'; 
  font-size:14px; 
  font-style:normal; 
  height:40px; 
  line-height:40px; 
  width:100%; 
  text-decoration:none; 
  text-align:center; 
  text-shadow:1px 1px 2px #874417; 
  cursor:pointer;
  border: none;
}

.blueButton:hover {
  background-color:#003366; 
}

.blueButton:active {
  position:relative; 
  top:1px;
}

/* 1.6 - Tables */
table { width: 100%; border-spacing: 0; }
table tr td { border-top: 1px solid #dddddd; }
table tr td, table tr th { padding: 10px; text-align: left; }
table tr td:first-child, table tr th:first-child { padding-left: 0px; }
table tr td:last-child, table tr th:last-child { padding-right: 0px; }

strong { font-weight: bold; }
em { font-style: italic; }

/* 1.7 - Icons */

/* 1.8 - Tags */


/* =================== */
/*      SECTION 2      */
/* =================== */
/* 2.1 - Helper Classes */
.w33 { display: inline-block; vertical-align: top; width: 32%; }
.w50 { display: inline-block; vertical-align: top; width: 49%; }
.w100 { width: 100% !important; }
.w221 { width: 221px; }
.w300 { width: 300px; }
.w310 { width: 310px; }
.w3 { width: 316px; } /* Can fit 3 at full */
.w4 { width: 236px; } /* Can fit 4 at full */

.inlineBlock { display: inline-block; }

.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }

.right { text-align: right; }
.left { text-align: left; }
.verticalCenter {
  vertical-align: -webkit-baseline-middle !important;
  vertical-align: middle !important;
}

.titleLine { position: relative; text-align: center; margin: 0px 10px 0px 10px; }
.titleLine h3 {
  background-color: #ffffff;
  position: relative;
  z-index: 8;
  display: inline-block;
  text-transform: uppercase;
  padding: 14px 23px;
}
.titleLine:after {
  content: '';
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #828282;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0; 
}

.whiteWash {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 100%;
  z-index: 10; 
}

.noAfter { padding-right: 0px !important; }
.noAfter:after { content: "" !important; }

.noBorder { border: none !important; }

.hasBackground { background: white; }

.noshow { display: none; }

/* 2.2 - Grid System */
.wrapper {
  width: 100%;
  max-width: 968px; 
  margin: 0 auto; 
}


/* 2.3 - Lists */
ul, ol { margin: 0; list-style: none outside none; }
ul > li, ol > li { list-style: none; }


/* =================== */
/*      SECTION 3      */
/* =================== */

/* 3.0 - Index */

.homepageTitle {
  position: relative;
  text-align: center;
  margin: 0px 10px 0px 10px;
}

.homepageTitle:after {
  content: '';
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #828282;
  position: absolute;
  left: 0;
  top:50%;
  z-index: 0;
}

.homepageTitle h3 {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 23px;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

/* 3.1 - Toolbar */

#breadcrumb { 
  text-align: left;
}

.separator { margin: 0 10px; }

/* 3.2 - Header */
.leftPipe { padding-left: 6px !important; }

.leftPipe:after {
  content: "|" !important;
  right: 72px !important;
  position: absolute;
  top: -1px;
}

.header { 
  width: 100%;
}

.logo { display: inline-block;
}

.logo img { 
        max-height:100px;
}

.searchSection {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.searchContainer {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.searchBox {
  padding: 0 0 0 13px;
  height: 20px;
}

.searchSubmit:hover {
  opacity: 0.9; 
}

#secondaryNav li {
  display: inline-block;
  position: relative;
  padding: 0 8px 0 3px;
  font-family: 'Gill Sans W01 Bold';
  vertical-align: top;
}

#secondaryNav li a {
  font-family: 'Gill Sans W01 Bold';
}

#secondaryNav li:after {
  content: "|";
  position: absolute;
  right: 0;
}

#secondaryNav {
  font-size: 11px;
  color: #000;
  text-align: right;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.headerSocial img {
  width: 32px;
  height: 32px;
}

.cartFont {
  font-family: FontAwesome !important;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  width: 37px;
  height: 23px;
}

.cartFont:after {
  content: '';
  top: 0;
  background-image: url('//cdn.shopify.com/s/files/1/0791/1037/t/1/assets/shopping-basket-icon.png?17831988706077278377');
  cursor: pointer;
  font-size: 15px;
  background-size: contain;
  height: 17px;
  width: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
  display: block;
}

.cartFont:before {
  content: attr(data-count);
  top: 3px;
  cursor: pointer;
  right: 0px;
  position: absolute;
  background-color: rgba(0,102,153,0.9);
  border-radius: 25px;
  width: 17px;
  height: 17px;
  text-align: center;
  z-index: 1;
  color: white;
  line-height: 17px;
}

.smallNav {
  padding: 0px 1px 0 10px !important;
  vertical-align: top;
  font-size: 11px;
  text-align: right;
  border-bottom: 0px solid white !important; 
}

/* 3.3 - Navigation */

nav.main { 
  width: 100%;
  padding: 10px 0 0 0;
  text-align: left;
  font-size: 13px;
  margin-bottom: -10px;
}

nav.main ul {
  text-align: center;
}

nav.main li { 
  display: inline-block;
  padding: 0px 15px 0px 15px;
  border-bottom: 5px solid white;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  font-family: 'Gill Sans W01 Bold';
  color: #000;
}

nav.main li, .extraNav div { font-family: 'Gill Sans W01 Bold'; }

nav.main li:hover {
  border-bottom: 5px solid #FF6600;
}

.extraNav div:not(.lastChild):hover {
  border-bottom: 5px solid #FF6600;
}

nav.active li {
  border-bottom: 5px solid #fff;
}


.extraNav div { 
  border-bottom: 5px solid #FFF;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.extraNav div:hover {
  border-bottom: 5px solid #FF6600;
}


nav.main li span {
  font-family: 'Gill Sans W01 Bold';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

nav.main li span:after {
  font-family: FontAwesome;
  content: "\f078";
  top: -1px;
  left: 5px;
  position: relative;
}


/* 3.5 - Collection Loop */

.collectionLoopProduct {
  display: inline-block;
  position: relative; 
  margin-bottom: 5px;
}

.collectionLoopProductImage {
  background-size:cover;
  width: 100%;
  height: 236px;
  background-repeat: no-repeat;
  background-position: center;
}

.collectionLoopProductInfo {
  width: 100%;
  text-align: center;
  background: #006699;
  padding-top: 3px;
  height: 49px;
  color: white;
}

/* 3.6 - Collections */

.catalogueProduct {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: #F4F4F4;
  margin-bottom: 5px;
}

.catalogueProductImage { 
  display: inline-block;
  width: 120px;
  height: 120px; 
}

.catalogueProductImage img {
  height: 100%; 
}

.catalogueProductInfo {
  display: inline-block;
  width: 182px;
  vertical-align: top; 
}

.catalogueProductInfo .title {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  cursor:pointer;
}

.catalogueProductInfo .price, .collectionProductInfo .price {
  cursor:pointer;
  font-family: 'Arial';
  color: black;
}

.catalogueProductInfo .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin: 0;
  height: 47px;
  overflow: hidden;
}

.catalogueProductForm { 
  margin-top: 7px;
}

.catalogueProductForm > [type=number] { 
  width: 35px;
}

.catalogueProductFormSubmit { 
  width: 95px;
  height: 28px;
  line-height: 23px;
  margin-top: -1px;
}

#pagination { 
  margin: 10px;
  display: block;
  text-align: center;
}

#pagination .count {
  display: block;
  margin-bottom:5px;
}

ul#sortme { text-align: center; list-style-type: none; width: 100%; }
ul#sortme li { text-align: left; display: inline-block; margin: 0 10px; }
ul#sortme li p { text-align: center; }

.collectionTitle img { width: 100%; }

.quickView .product {
  width: 942px;
}

.quickAnimation {
  display: none;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  font-size: 16px;
}

.quickAnimation a, .quickAddText a {
  color: #003366;
  text-decoration: underline;
}

.collectionTitle {
  margin-bottom: 15px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 18px;
  padding-top: 5px;
}

.collectionProduct {
  margin: 0 5px 0px;
  border-radius: 0;
  overflow: hidden;
  background: #fff;
  display: inline-block;
}

.collectionProduct img {
  display: block;
  margin: 0 auto 0;
  width: 100%; 
}

.collectionProduct .blueButton { 
  width: 140px;
  margin: 5px; 

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collectionProductInfo {
  text-align: center;
  background: #fff;
  padding-top: 10px;
  position: relative; 
  padding-bottom: 20px;
}

.collectionProductInfo h3 {
  letter-spacing: initial;
  font-size: 16px;
  text-transform: uppercase;
}

.collectionProductDesc {
  display:none;
  background-color: rgba(51,51,51, 0.7);
  position: absolute !important;
  bottom: 187px;
  width: 100%;
  height: 100px;
  color: white;
}

.collectionProductDesc .pad10 {
  display: block;
  display: -webkit-box;
  height: 77px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quickAddText {
  font-family: "Arial";
  text-align: center;
  font-weight: bold;
  font-size: 11px; 
  margin-top: 5px;
  opacity: 0;
}

/* 3.7 - Products */

.description {
  font-family: Arial;
} 

.product {
  text-align: left;
}

.imageContainer {
  display: inline-block;
  max-width: 340px;
  width: 100%;
}

#featuredImage {
  max-width: 340px;
  display: inline-block;
  width: 100%;
}

#featuredImage img {
  width: 100%; 
}

.productThumbnailContainer {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.productThumbnail {
  width: 108px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0px 18px 0;
  padding: 1px;
}

.productThumbnail img {
  width: 100%; 
}

#productInfo {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  max-width: 579px;
  padding-left: 15px;
}

#productForm {
  margin-top:10px; 
}

.productQuantity {
  display: block;
  vertical-align: top;
  height: 45px;
}

.shares > div {
  width: 200px;
  display: inline-block;
  top: 2px;
  position: relative;
  margin-bottom: 5px;
}

.productQuantity label, .shares label {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  position: relative;
  top: 11px; 
}

.productQuantity #quantity, #fakeQuantity {
  position: relative;
  top: 4px;
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px; 
}

.purchase {
  display: inline-block;
}

#addtoCart {
  width: 132px !important;
  margin: 5px 0 5px 0;
}

.donationQuantity { display: none; }
.hiddenContainer { display: none; }
.donationQuantity:checked + label { background-color: #ff6503; color: white; }
.donationLabel:hover { background-color: #ff6503; color: white; }
.product-options strong { display: block; margin-top: 10px; }
h1 { margin: 0; }

.donationLabel {
  border-radius: 5px;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  text-align: center;
  width: 50px;
  display: inline-block;
  padding: 5px;
  margin: 0 1px;
  cursor: pointer;
  margin-top: 10px;
  line-height: 31px;
  font-size: 15px;
}

.donationCustomInput {
  width: 50px;
  border-radius: 0 5px 5px 0px;
  height: 30px;
  margin-left: -5px;
  padding: 0 5px;
  margin-top: 10px;
}

.customDonationContainer {
  display: inline-block;
  height: 32px;
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.customDonationContainer > label {
  border-radius: 5px 0px 0px 5px;
}

/* 3.7 - Cart */

#cart-animation {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 15;
  text-align: center;
  line-height: 25px;
  background: rgba(0,102,153,0.9); !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px; 
}

.extraBusiness, .otherSpecify {
  display: none;  
}

.cartImage {
  display: inline-block; 
}

.cartText {
  display: inline-block;
  max-width: 420px;
  vertical-align: top;
  padding: 0px 5px 0px 5px;
}

.cartQuantity {
  width: 60px;
  text-align: center;
  font-family: 'Gill Sans W01 Book';
}

.cartQuantity > input {
  width: 40px; 
}

.cartPrice {
  width: 100px;
  text-align: right;
  font-family: 'Gill Sans W01 Book';
}

.cartRemove {
  width: 50px;
  text-align: right;
}

.cartRemove label {
  font-family: FontAwesome !important;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: relative;
  display: block;
}

.cartRemove label:after {
  content: '\f00d';
  position: absolute;
  top: -2px;
  right: 0f;
  font-size: 22px;
  color: #FF6600;
}

.cartTitle {
  font-family: 'Gill Sans W01 Book'; 
}

.cartTotal {
  font-family: 'Gill Sans W01 Book';
  text-align: right;
  font-size:2em;
}

.update {
  margin: 10px;
  width: 140px;
  display: inline-block;
}

.checkout {
  margin: 10px;
  width: 140px;
  display: inline-block;
}

.bankYesNo {
  max-width: 40px;
  margin-left: 7px;
  position: relative;
  top: 2px !important;
}

.cartDescription {
  display: block;
  display: -webkit-box;
  height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
}

/* 3.8 - Blog / Articles / Search */

/* 3.9 - Customer Pages */

/* 3.10 - Footer */

.footerContainer {
  background-color: #F1E7E1;
  margin-top: 10px; 
  margin: 0 auto;
}

.footerTop {
  top: 8px;
  position: relative;
} 

.footerTop, .footerBottomCopyright { text-align: center; }

/*.footerTopSelect {
display: inline-block;
width: 190px; 
} */

.footerTopNav {
  font-size: 14px;
  color: #000;
  text-align: left;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.footerTopNav li { 
  display: inline-block;
  position: relative;
  padding: 0 8px 0 3px;
  font-family: 'Gill Sans W01 Book'; 
}

.footerTopNav li:after {
  content: "|";
  position: absolute;
  right: 0; 
}

/*
.footerNavigation {
margin-top: 20px;
}

.footerNavSection {
min-height: 120px;
border-right: 2px solid #ccc;
display: inline-block;
padding-right: 10px; 
vertical-align: top;
max-width: 245px;
}

.footerNavSection h6 {   
margin-bottom: 5px; 
}

.footerNavSection + .footerNavSection {
margin-left:5px;
}

.footerNavSection li {
font-family: 'Gill sans W01 Book';
font-size: 14px;
color: #666; 
max-width: 133px;
}

.footerSignUpForm { 
margin-top: 10px;
}
*/

.footerBottomLogo {
  display: table;
  width: 40%;
  margin: 20px auto;
}

.footerBottomLogo a {
  display: table-cell;
  text-align: center;
  width: 16%;
}

.footerBottomLogo img {
  vertical-align: middle;
  max-width: 150px;
  padding: 0 10px;
}

.footerBottomCopyright {
  color: #666;
  margin-top: 20px;
  display: block; 
  font-size: 13px;
}


/* =================== */
/*      SECTION 4      */
/* =================== */

.homepageSliderProductTitle {
  height: 60px; 
}

#frontCollection {
  position: relative; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  overflow: hidden;
  max-width:100%;
}

#frontCollection .productContainer {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#frontCollection .productImageContainer {
  padding: 5px;
}

#frontCollection, .frontCollectionSlider, #frontCollection .productContainer { height: 440px; }

#frontCollection .productInfoContainer {
  text-align: center;
}

.mobile-swiper-container {
  width: 100%;
  height: 290px;
  position: initial;
  overflow-x: hidden;
}

.mobile-swiper-container img { width: 100%; }

.mobileSliderTitle { font-size: 18px; line-height: 24px; text-transform: uppercase; margin-top: 10px; }

.mobileOverflow {
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

/* =================== */
/*      SECTION 5      */
/* =================== */
/* 5.1 - IE Fixes */
.ie8 .product .circle, .ie8 #product .circle { right: 0; top: 0; padding: 8px 12px; }
.ie7 nav > ul > li { float: left !important; display:inline-block !important; }
.ie8 .helper-section:hover .helper-content .product { filter: alpha(opacity = 20); }
.ie8 .helper-section:hover .helper-content .product img { filter: alpha(opacity = 20); }



/* =================== */
/*      SECTION 6    */
/* =================== */

.menu {
  display: none;
  margin-left: -260px;
  height: 100%;
  position: fixed;
  width: 260px;
  overflow-y: scroll; 
  z-index: 9000;

  background-color: #fff;
  border-right: 1px solid #b3b3b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.jumbotron {
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  border-radius: 5px;
  opacity: 0.9;
  padding-left: 18px;
  padding-top: 18px;
}

.aside {
  font-weight: 600;
  padding: 10px; 
}

.aside li {
  border-right: 1px solid #666666;
  padding-right: .8em;
  margin-right: .5em; 
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
}

.aside li:last-child {
  border: 0; 
}

.aside li a {
  color: #000000;
  text-decoration: none;
} 

.menu .mobileStuff {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu .mobileStuff li {  
  line-height: 40px;
  padding-left: 25px;
  display: block;
  list-style: none;
  border-top: 1px solid #cccccc;
  position: relative;
  color: black;
}

.menu .mobileStuff li a {
  width: 100%;
  display: block;
  font-family: "Gill Sans W01 Bold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: .04em;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
}

.menu .mobileStuff li:first-child {
  border: 0;
}

.menu .mobileStuff li:after {
  content: '\f054';
  font-family: FontAwesome;
  left: 10px;
  position: absolute;
  font-size: 10px;
  color: inherit;
  top: 0;
}

.mobileStuff a {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}

.icon-close a {
  cursor : pointer;
  color: black;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  font-weight: bold;
}

.icon-menu {
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(255, 101, 0);
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 3000;
}
.menu h1 {
  color:#fff;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
}
.jquery-script-ads {padding-left: 25px;}

.icon-menu i { font-size: 40px; }

.menu p {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.dl-submenu li {
  border-bottom: 0px solid rgb(255, 101, 0);
}

.dl-submenu li a {
  font-size: 13px;
}

.mobile { display: none; }   
.jumbotron { display: none; }
.nViewButton { display: none; }

.removeButton { top:100px; padding: 5px !important; left: 90% !important; }

.pledgeInfo {
	display: inline-block;
	width: 63%;
	vertical-align: top;
	text-align: left;
	/* margin-top: 20px; */
}

.pledgeInfo h2 {
	font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 34px;
	line-height: 38px;
	font-weight: initial;
}

.pledgeInfo h3 {
	font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
	/*color: #000;*/
	font-size: 27px;
	line-height: 24px;
	/*margin-top: 10px;*/
	margin-bottom: 15px;
	font-weight: initial;
}

.pledgeInfo h3 strong {
	font-family: 'Gill Sans W01 Bold', Arial, Helvetica, sans-serif;
	font-weight: initial;
}

.pledgeInfo h4 {
	font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	/*color: #000;*/
	text-rendering: optimizeLegibility;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 1.4;
	font-size: 22px;
}

.pledgeInfo h4 span {
	font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
}

.pledgeInfo h5 {
	font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	/*color: #000;*/
	text-rendering: optimizeLegibility;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 20px;
	line-height: 1.4;
	font-size: 18px;
}

.pledgeInfo em {
	font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.pledgeInfo p {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	margin: 15px 0;
	text-rendering: optimizeLegibility;
}

.pledgeInfo p:first-of-type {
	margin-top: 0;
}

.pledgeInfo p strong {
	display: block;
}

.pledgeImage {
	display: inline-block;
	width: 280px;
	position: relative;
	padding-right: 4%;
	/*background: url(//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/shadow.png?8557910152770359244) no-repeat 15px center;*/
	background-position-x: 96%;
}
.pledgeImage img { 
	width: 100%; 
}
#pledgeOffer { 
	margin: 20px 0 0; 
}
.pledgeAmountSection { 
	margin: 23px 0 0; 

}
#txtPledgeAmount { 
	border-radius: 0 4px 4px 0; 
	width: 55%;
}
.roundRightCorners { 
	border-top-right-radius: 4px !important; 
	border-bottom-right-radius: 4px !important; 
}
.dollarHandle { 
	padding: 10px 16px; 
	margin: 18px 0 0; 
}
.dollarSign { 
	background-color: #eee;
	border-right: 0px none !important;
	border-radius: 4px 0 0 4px; 
	float:left;
}
.savePledge { 
	padding-top: 30px !important; 
}

.firstLetterCap:first-letter {
	text-transform:uppercase !important;
}

.editable-wrap { white-space: normal !important; }
/*.editable-controls>input, .editable-controls>select, .editable-error{
    margin-left:20px;
}

.editable-controls>select{
    margin-top:-15px;
}*/

.summaryDollarSign { 
	background-color: #eee;
	border: 1px solid #ccc;
	border-right: 0px ;
	border-radius: 4px 0 0 4px; 
	float: left;
	width: 12%;
	padding: 5px 3px 5px 7px;
	height: 34px;
	/*text-align: center;*/
}
input[name=summaryAmount] {    
	margin-left: 10px !important;
	width: 60%;
	border-radius: 0 4px 4px 0 !important;
}    
.summaryButtons {
	float: left;
	padding: 20px 0 0;
}
.summaryFooter { 
	margin:20px 0 10px; 
	padding: 20px 0 20px;
	border-top: 1px solid #ccc;
}
.split { 
	padding: 0 0 10px 0; 
}
.boldText {
	font-weight: bold;
}
@media (min-width: 605px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 960px) {
  .w221 { width: 209px; }
  #productInfo {  max-width: 550px; }
}

@media (max-width: 940px) {
  .menu { display: block; }
  .onlyMobile { display: table-row; }
  .onlyDesktop { display: none; }
  .desktop { display: none; }
  .mobile { display: block; }

  .cartDescription  { 
    display: none; 
  }

  .cartImage { 
    width: 100px; 
  }

  .errorList {
    text-align: left; 
  }


  .jumbotron { 
    display: block; 
  }

  h3 { 
    font-size: 16px; 
    line-height: 22px; 
  }

  .pad5 { 
    padding-left: 10px; 
    padding-right: 10px; 
  }

  .homepageSliderProductTitle { 
    height: 70px; 
    font-size: 17px;
  }

  #frontCollection, .frontCollectionSlider, #frontCollection .productContainer { 
    height: 360px; 
  }

  .searchSection { display: none; }

  #secondaryNav li:not(#cart-target) { display: none; }

  .header { text-align: right; }

  .w221, .w300 { width: 47% }

  .product { text-align: center; }

  #productInfo { padding-left: 0px; }

  .product .right { text-align: center; }

  .purchase { margin-top: 10px; }

  .productQuantity label { font-size: 20px; line-height: 28px; }

  .purchase label, .purchase p, .purchase select { font-size: 26px; line-height: 32px; }

  .collectionProductDesc { display: none !important; }

  .homepageTitle { margin: 0px 10px 10px 10px; }

  .quickView .product { width: 100%; }

  #nav li:not(.smallNav) { display: none; }

  /*.flexslider .slides img { max-width: none !important; width: 900px; left: -150px; position: relative; }*/
  .flexslider .slides > li { overflow: hidden; }

  #viewTemplate { display: none; }
}

@media (max-width: 600px) {
  .cartImage { display: block; } 
}

@media (max-width: 414px) {
  .w221, .w300 { width: 46%; }
  .blueButton, .greyButton {
    font-size: 12px; 
    width: 95% !important;
  }  
  
  .checkout, .update { margin: 0; }
}


@media (max-width: 420px) {
  .mobile-swiper-container { height: 145px; }
  .mobileSliderTitle {
    font-size: 11px;
    line-height: 15px;
    margin-top: 2px;
  }

  .cartImage {
    width: 100px; 
    padding-top: 20px;
  }

  .cartPrice {
    width: 0px;
    padding: 0px;
    display: block;
    overflow: hidden;
  }

  #businessName {
    max-width: 97px; 
  }

  .cartTitle {
    display: -webkit-box;
    height: 47px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .selectboxit-container .selectboxit { max-width: 115px; }
  .selectboxit-container select { width: 100% !important; }

  table tr td, table tr th { padding: 5px; }

  .swiper-button-next, .swiper-button-prev {
    width: 8px !important;
    height: 20px !important;
    background-size: contain !important;
  }

  .menu a { font-size: 12px; }
  .menu li { line-height: 30px; }
  .w221, .w300 { width: 45%; }
  .collectionProductInfo h3  { font-size: 11px; }
  /* .flexslider .slides img { max-width: none !important; width: 900px; left: -300px; position: relative; }*/

  .logo {padding-left: 88px; padding-top: 5px; }
}




/* =================== */
/*      SECTION 7      */
/* =================== */

/* 6.1 - FlexSlider */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus  { outline: none; }
.slides,.flex-control-nav,.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.flexslider { width: 100%; margin: 0 0 10px 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; margin-bottom: 0px !important; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { max-width: 100%; display: block; margin: 0 auto; }
.flex-pauseplay span { text-transform: capitalize; }
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.no-js .slides > li:first-child { display: block; }
.flexslider { background: #fff; position: relative; zoom: 1; }
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }
.flex-container { zoom: 1; position: relative; }
.flex-caption { background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1; }
.flex-caption { width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.8); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.8); font-size: 14px; line-height: 18px; }
.flex-direction-nav { height: 0; display: none; }
.flex-direction-nav li { margin-bottom: 0; }
.flex-direction-nav li a { width: 50px; height: 50px; display: block; background: url('//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/slider-arrows.png?47334&1807420086990788623') no-repeat; position: absolute; top: 44%; cursor: pointer; text-indent: -999em; }
  .flex-direction-nav li .disabled { opacity: .3; filter:alpha(opacity=30); cursor: default; }
  /* Dark Direction Nav */
  .flex-direction-nav li .prev { left: 20px; background-position: 0 0; }
  .flex-direction-nav li .next { right: 20px; background-position: -250px 0; }
  .flex-direction-nav li .prev:hover { background-position: 0 -50px; }
  .flex-direction-nav li .next:hover { background-position: -250px -50px; }
  .flex-controls { opacity: 0.9; filter: alpha(opacity = 90); }
  .slides a:hover{ opacity:1; }
  
  /** CT- css for control nam **/
   
  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -3px;
    text-align: center;
  }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    
  }
  .flex-control-nav li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .flex-control-nav li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
  }
  .flex-control-nav li a.active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
  }

  @media (max-width: 514px) {

    .flex-control-nav {
      position: relative;
    }
  }

  /* 6.2 - Web Fonts */
  @font-face { font-family: 'ProximaNovaLight'; src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.eot' ); src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.eot?#iefix' ) format('embedded-opentype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.woff' ) format('woff'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.ttf' ) format('truetype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.svg#ProximaNovaRegular' ) format('svg'); font-weight: normal; font-style: normal; }
  @font-face { font-family: 'ProximaNovaLight'; src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.eot' ); src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.eot?#iefix' ) format('embedded-opentype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.woff' ) format('woff'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.ttf' ) format('truetype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaRegular' ) format('svg'); font-weight: bold; font-style: normal; }




  .swiper-button-prev {
    background-image: url('//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/navigationLeftArrow.png?1807420086990788623') !important;
      background: #006699;
      padding: 5px;
      border-radius: 5px;
      }

  .swiper-button-next {
    background-image: url('//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/navigationRightArrow.png?1807420086990788623') !important;
      background: #006699;
      padding: 5px;
      border-radius: 5px;
      }


.child_image {
    /*height: 333px;*/
}

/* make specific dropdown options fit into the box better */
#title, #province, #expiryYear {
    padding: 6px;
}

.loading {
  background: #ffffff url(waiting.gif) no-repeat center center;
  background-size: 20%; }

.screen-overlay {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000; }
  .screen-overlay.show {
    display: block; }
  .screen-overlay .loading {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: 8%; }

  #letterOfIntroductionQuestionMark {
	    font-size: 18px;
    position: relative;
    top: 1px;
}

.alreadyInCart {
  width: 220px; 
}

.outOfStock {
  background: #6699CC;
  color: black;
  padding: 5px 10px 5px 50px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 13px; 
  position: relative;
}

.outOfStock:after {
  content: "\f05a";
  font-family: FontAwesome;
  left: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 30px;
  height: 27px;
  line-height: 27px;
}

.tooltipLabelHelp {
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
}

#noImage {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);

  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: initial;
  background: rgba(0,0,0,0.6);
  color: white;  
  position: absolute;
  width: 90%;
  bottom: 10px;
  right: 0px; 
}

#videoFrame a {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

#videoFrame {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

#videoFrame iframe {
  height: 400px;
  width: 600px;   
}

#cartform .left {
  position: relative; 
}

#letterOfIntroduction {
  position: absolute;
  right: 0;
  top: 4px; 
}

.searchErrorContainer {
  background-image: url("//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/stripes.png?8557910152770359244"); 
    border-radius: 5px;
    display: none;
    }

.searchErrorContainer p {
  padding: 20px;
  text-align: left;
  color: white;
  font-family: Gill Sans W01 Medium, Arial;
  font-size: 18px;
  padding-left: 40px;
  position: relative;  
}

.searchErrorContainer p:after {
    content: "\f05a";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
}

#content {
  margin-top: 0;
} 

.WVblue {
  color: #006699 !important;
}

.WVorange {
  color: #FF6600 !important; 
}

#productForm { 
  display: none;  
}

.collectionTitle { 
  color: #006699;
  text-transform: uppercase;
  font-size: 34px;
  border-bottom-width: 2px;
}

.fullContent {
  margin-bottom: 20px; 
}

.orange { 
  color: #ff6600 !important;  
}

.center {
  text-align: center !important; 
}

#childImage {
  display: inline-block;
  width: 280px;
  position: relative;
  padding-right: 4%;
  background: url(//cdn.shopify.com/s/files/1/0827/1531/t/6/assets/shadow.png?8557910152770359244) no-repeat 15px center;
  background-position-x: 96%;
}

#childImagePopup {
  display: inline-block;
  position: relative;
  padding-right: 4%;
}

#childImagePopup img {
  width: 70%; 
}

#videoThumb {
  background: #006699;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  color: white;
  border: 3px solid white;
}

#videoThumb i {
  line-height: 35px;
}

#childImage img {
  width: 100%; 
}

#childInfo {
  display: inline-block;
  width: 63%;
  vertical-align: top;
  text-align: left;
  margin-top: 20px;    
}

#childInfoPopup {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 0px;    
}

#childInfo h2 {
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  color: #000; 
  font-size: 34px;
  line-height: 38px;
  font-weight: initial;
}

#childInfo h3 {
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  color: #000; 
  font-size: 27px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: initial;
}

#childInfo h3 strong {
  font-family: 'Gill Sans W01 Bold', Arial, Helvetica, sans-serif;
  font-weight: initial;
}

#childInfo em {
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  font-size: 15px; 
}

#childInfo p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
  text-rendering: optimizeLegibility;
}

#childInfo p:first-of-type {
  margin-top: 0; 
}

#childInfo p strong {
  display: block; 
}

.childData{
}

.miniInfo {
  margin-bottom: 15px;
}
.miniInfo li {
  line-height: 1.2;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 13px;
  padding: 4px 10px;
  position: relative;
  display: inline-block;
  padding-left: 16px;
  margin-right: 4px;
}

.miniInfo li:after {
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 4px;
  color: #b3b3b3;
}

#birthdayInfo:after { content: '\f1fd'; }
#countryInfo:after { content: '\f0ac'; }
#choresInfo:after { content: '\f0e3'; }
#subjectInfo:after { content: '\f004'; }
#playInfo:after { content: '\f1e3'; }

.fa-3{
    font-size:4em !important;
    position:absolute;
    left:93%;
}

.miniInfo li:before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  border-right: 1px solid #b3b3b3;
  height: 16px;
}

.miniInfo li:last-of-type:before {
  display: none;
}

#childInfo h4 {
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-rendering: optimizeLegibility;
  text-align: left;

  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.4; 
  font-size: 22px;
}

#childInfo h4 span {
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
}

.button, .button:hover {
  background: #006699;    
  text-transform: uppercase;
  font-family: 'Gill Sans W01 Bold', Arial, Helvetica;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  text-decoration: none;
  padding: 14px 32px;
  border-color: #0052a3;
  color: #FFFFFF;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  transition: background 400ms;
  cursor:pointer;
}

.buyNow {
  display: block;
  text-align: left;
  margin: 30px 0px;
}

.button:hover {
  background: #003366;
  opacity: 1;
}

#leftPaginate, #rightPaginate {
  color: #fff;
  top: 44%;
  position: absolute;  
  font-size: 40px;
  background-color: #999;
  border: 1px solid white;
  height: 70px;
  border-radius: 5px;
  width: 35px;
  margin: 4px;
}

#leftPaginate {
  left: 0px;
}

#rightPaginate {
  right: 0px;
}

#leftPaginate i, #rightPaginate i {
  position: relative;
  top: 21%; 
}

.childSearchContainer {
  background: #FFF;
  padding: 15px;
  position: relative;
}

.searchError {
  color: #000 !important;
  font-weight: bold !important;
  text-align: left;
  float: right;
}


.childSearchContainer h2 {
  font-family: 'Gill Sans W01 Bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
  color: black; 
}

.childSearchContainer p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
  margin:10px 0;
  text-align: left;
}

.childSearchInfo label {
  cursor: default;
  color: #666;
  font-size: .9em;
}

#gender, #age, #month, #date, .clearSearch {
  width: 120px !important;
}

.clearSearch {
  margin-left: 85% !important;
  margin-bottom:15px;
}

#country {
  width: 240px;
}

.reset {
  -webkit-appearance: none;
  width: 100%;
  background: #006699;
  border-color: #006699; 
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'Gill Sans W01 Bold', Arial, Helvetica;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  border: none;
  text-decoration: none;
  padding: 8px;
  font-weight: normal;
  color: #fff;
  top: 5px;
  position: relative;
}

.childSearchInfo > div, .childSearchAge > div {
  display: inline-block; 
  vertical-align: top;
  margin-right: 5px;
}

.childSearchInfo > label, .childSearchAge > label {
  cursor: default;
  color: #000;
  font-family: 'Gill Sans W01 Bold';
  font-weight: normal;
  font-size: 14px;
  display: block;
  margin: 0 0 5px 0;
}

.selectboxit-container {
  margin-top: 5px; 
}

.childSearchInfo {
  display: inline-block;
  vertical-align:top;
  text-align:left;
}

.childSearchInfo, .childSearchAge {
  background: #f3f3f3;
  padding: 12px;
}

.childSearchAge {
  display: inline-block; 
  vertical-align:top;
  text-align:left;
  margin-left: -4px;
}

.tabTitle {
  outline: none;
  background-color: #fff;
  color: #6699CC;
  padding: 14px;
  font-family: "Gill Sans W01 Bold", Helvetica, Roboto, Arial, sans-serif;
  font-size: 12px;
  transition: all .3s linear;
  text-transform: uppercase;
  margin: 0;    
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 22%;
  vertical-align: middle;
}

.tabTitle:hover {
  color: #000; 
}

.tabTitle.active {
  color: #fff;
  background: #6699CC; 
}

.tabsInfo {
  display: none; 
  padding: 40px 80px;
}

.tabsInfo h2 {
  font-weight: normal;
  font-size: 44px;
  line-height: 40px;
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  color: #006699;
  padding-bottom: 20px;
  border-bottom: 2px solid #ededed;
  margin-bottom: 20px;
}

.tabsInfo h3 {
  color: black;
  font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom:30px;
}

.tabsInfo p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
  margin:10px 0;
  text-align: left;
}

.tabsInfo span {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 34px;
  margin: 10px 0px; 
}

.tabsInfo ul {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.tabsInfo li {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
  margin: 1%;
}

.providesUL li {
  width: 24%;
  margin: 0;
}

#about {
  text-align: left; 
}

.mobileContent, .mobileSearchContainer, .mobileChildCart { 
  display: none; 
}

.cartText label {
  font-size: 18px;
  line-height: 24px; 
}

.providesUL span {
  font-size: 20px;
}

.aboutContainer {
  width: 90%;      
  margin: 0 auto;
  text-align: center
}

.aboutContainer h4 {
  text-align: left; 
}

.aboutImage {
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.aboutText {
  display: inline-block;
  vertical-align: top;
}

.aboutLegend {
  list-style-type: none;
  margin-top: 10px !important;
}

.aboutLegend li {      
  clear: both;
  display: block;
  margin-bottom: 10px; 
  font-family: Arial;
  text-align: left;
  padding-left:20px;
  width: 100%;
  position: relative;

}
.table-bordered{
    margin-top:10px;
}
.table-bordered>thead {
    font-weight:bolder;
}

.aboutLegend li:before {
  content: '\f0c8';
  font-family: FontAwesome;
  margin: 0 5px 0 0px;
  position: absolute;
  left:0;
  top: 6px;
}

.orangeIndent:before {
  color: #ff6600;
}

.yellowIndent:before {
  color: #fbd45a;
}

.greenIndent:before {
  color: #9ea739;
}

.aboutContainer .number {
  font-family: 'Gill Sans W01 Bold';
  font-size: 24px;
  width: 65px;
  text-align: right;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 5px 0px 0px;
  line-height: inherit;
}

.aboutLegend label {
  font-family: Arial;
  color: #333!important;
  display: inline-block;
  vertical-align: top;
}

.separator {
  margin: 0 5px;    
}

#breadcrumb {
  margin-bottom: 5px;
  margin-top: -5px; 
}

.form-inline{
    margin:15px !important;
}

.text-left{
    padding-top:10px !important;
}

fieldset{
    margin:15px !important;
}

.content{
    margin:15px;
    text-align:left !important;
}

#pledgeImagePopup {
  display: inline-block;
  position: relative;
  /*padding-right: 4%;*/
}

#pledgeImagePopup img {
  width: 70%; 
}

/* ******************** */
/* *** MONILE STUFF *** */
/* ******************** */

@media(max-width: 940px) { 
  .childSearchInfo, .childSearchAge {
    width: 40%;
    height: 95px;
  }

  .tabTitle {
    width: 21.5%; 
  }

  #childImage { width: 260px; }

  .mobileChildCart { display: block; }
  
  #rightPaginate { right: 5px; }
  #leftPaginate { left: 5px; }
}

@media(max-width: 840px) {
  #childImage { width: 200px; }
  .tabTitle { width: 20%; }
  .searchError {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media(max-width: 780px) { 
  .childSearchInfo { width: 100%; height: 100%; }
  .childSearchAge { width: 100%; margin-top: 10px; height: 100%; }
}

@media(max-width: 660px) {  
  #childImage { width: 170px; }

  .providesUL li { width: 40%; margin: 3%; }
  .tabsInfo h2 { margin-bottom: 10px; }
}

@media(max-width: 560px) { 

  .searchError {
    position: inherit; 
  }  

  .tabTitle { width: 23%; padding: 5px; }
  #childImage {
    width: 280px; 
  }

  #childInfo {
    width: 100%; 
  }
}

@media (max-width: 414px) {   

  .childSearchInfo {
    width: 93%;
    display: inline-block;
    margin: 0 auto;
  }

  .childSearchAge {
    position: relative;
    width: 93%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
  } 

  .mobileSearchButton {
    position: absolute;
    -webkit-appearance: none;
    bottom: 12px;
    right: 8px; 
  }

  #breadcrumb {
    display: none;
    float: left;
    margin-top: -5px; 
    margin-bottom: 0px;
  }

  #nav {
    position: absolute;
    top: 20px;
    left: 75px; 
  }

  #checkoutText {
    display: none; 
  }

  .cartFont { width: 61px; }

  .cartFont:after {
    height: 27px;
    width: 27px;
  }

  .cartFont:before {
    top: 2px;
    height: 27px;
    width: 27px;
    line-height: 27px;
    font-size: 19px;
  }

  .footerCatalogueLogo {
    position: relative !important;
    display: block !important;
    width: 100%;
  }
  .header { padding: 0 !important; }  
  .footerOgcContainer { display: block; margin-bottom: 0px; }
  .footerBottomOgcCopyright { margin-top: 0px; }

  .mobileChildCart { display: block; }
  .mobileContent {
    display: block;
    margin: 0px 10px;
  }

  .mobileContent h1 {
    font-family: 'Gill Sans W01 Bold', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #006699;
    font-size: 26px;
  }

  .whiteBG {
    padding: 5px 0px 25px 0px;
    background: white;
  }

  .mobileImage {
    position: relative;
    margin: 10px 30px 0px 30px;
    overflow: hidden;
  }

  .mobileImage > img {
    width: 100%;
  }

  .mobileSearchContainer {
    display: block;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
    position:relative;
  }

  #mobileSearch {
    position: relative;
  }

  #mobileSearch:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    left: -18px;
    top: 0px;
  }

  .mobileSearchOptions {
    position: absolute;
    background-color: #ccc;
    margin-left: 10px;
    z-index: 10;
    display: none;
    top: 40px;
  }

  .mobileSearchOptions:after {
    bottom: 99%;
    left: 87%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .mobileSearchOptions:after {
    border-bottom-color: #ccc;
    border-width: 20px;
    margin-left: -20px;
  }

  .mobileSearchOptions > div {
    padding:20px;
  }

  .mobileSearchOptions h3:after {
    position: absolute;
    content: "\f00d";
    font-family: FontAwesome;
    right: 0;
  }

  .mobileSearchOptions h3 {
    color: black;
    font-family: 'Gill Sans W01 Bold', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
    text-align: left;
    font-size: 21px;
    position: relative;
  }

  #gender, #age, #month, #date, .clearSearch { 
    margin-bottom: 5px;
    width: 47.9% !important;
    display: inline-block;
    text-align: left;
  }

  .clearSearch {
    margin-top: 10px;
    margin-left:40% !important;
  }    

  .selectboxit-container .selectboxit { 
    max-width: 100%; 
  }  

  .childSearchInfo > label, .childSearchAge > label {
    margin-bottom: 5px;
    text-align: left;
  }

  .mobileInfo {
    background: black;
    color: white;
    text-align: left;
    opacity: 0.9;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    transition: all 400ms;
  }

  .mobileInfo[data-pos='close'] {
    bottom: -88%;
  }

  .mobileInfo[data-pos='open'] {
    bottom: 0px; 
  }

  .mobileInfo[data-pos='close'] .closeMobileChild {
    display: none;
  }

  .mobileInfo[data-pos='open'] .closeMobileChild {
    display: block;
    text-align: right;
    width: 100%;
    cursor: pointer;
  }

  .mobileInfo > div {
    padding: 10px; 
  }

  .openMobileChild > div {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .mobileInfo p {
    font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .mobileInfo label {
    font-size: 16px;
    display: block;
  }

  .mobileBuyNow {
    margin: 15px 30px 0 30px;
  }

  .showMoreButton {
    width: 240px;
    margin: 20px auto;
  }

  .child + .child {
    margin-top: 30px; 
  }

  .child {
    transition: all 1s linear;
  }

  .infoMobileChild {
    position: absolute;
    width: 41px !important;
    right: 9px;
    top: 9px; 
  }

  [data-show='f'] { display: none; }

  .addMobileInfo {      
    border-top: 10px solid rgb(255, 101, 0);
    background-color: white;
    text-align: left;
    padding-top: 25px; 
    margin-bottom: 25px;
  }

  .plusMinus {
    font-size: 17px;
    padding: 10px;
    font-family: 'Gill Sans W01 Bold', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;      
    position: relative;
  }

  .plusMinus + div {
    transition: all 1s linear;
  }

  .plusMinus[data-pos="close"]:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\F067";
    right: 10px;
  }

  .plusMinus[data-pos="open"]:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\F068";
    right: 10px;
  }

  .plusMinus[data-pos="close"] + div {
    display: none;
  }

  .plusMinus[data-pos="open"] + div {
    display: block;
  }

  .plusMinus + div h2 {
    font-weight: normal;
    color: black;
    font-size: 23px;
    line-height: 25px;
    font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .plusMinus + div h3 {
    color: black;
    font-family: 'Gill Sans W01 Medium', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
  }

  .plusMinus + div p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
    text-align: left;
    padding: 0px 10px;
  }

  .plusMinus + div ul {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
  }

  .plusMinus + div li {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .providesUL li {
    display: block;
    width: 100%;
    margin: 0px;
  }

  .mobileSearchButton {
    width: 125px;
    background: #FF6F00;
    border-color: #000;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: 'Gill Sans W01 Bold', Arial, Helvetica;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    border: none;
    text-decoration: none;
    padding: 8px;
    font-weight: normal;
    color: #fff;
    float: right;
    margin-top: 10px;
  }

  .addMobileInfo li {
    margin-bottom: 10px;
  }



  #letterOfIntroduction { display: none; }
  #cartform h1 {
    text-align: center;
    font-family: 'Gill Sans W01 Medium';
    padding-bottom: 15px;
  }

  .cartImage {
    width: 150px !important; 
    display: inline-block;
  }

  .cartImage image {
    width: 100%;
  }


}

@media (max-width: 375px) {
  .mobileInfo[data-pos='close'] {
    bottom: -87%;
  }
}

@media (max-width: 320px) {
  .mobileInfo[data-pos='close'] {
    bottom: -83%;
  }
}