﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="telemarketingApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Telemarketing Client</title>
	<link href="Content/xeditable.min.css" rel="stylesheet" />
	<link href="Content/bootstrap.min.css" rel="stylesheet" />
	<link href="content/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
	<script>
        document.write('<link rel="stylesheet" href="Content/app.css?v=' + Date.now() + '" \/>');
	</script>
	<script src="Scripts/jquery-2.2.0.min.js"></script>
	<script src="Scripts/bootstrap.min.js"></script>

	<!-- this following script is required to support IE9 CORS. see https://github.com/jpillora/xdomain -->
	<!--[if IE 9]>
	<script src="Scripts/xdomain.min.js" data-slave="https://svc.worldvision.ca/sponsorshipservice/proxy.html"></script>
	<![endif]-->
	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/angular-messages.min.js"></script>

	<script src="Scripts/angular-route.min.js"></script>
	<script src="Scripts/angular-cookies.min.js"></script>
	<script src="Scripts/angular-ui-router.min.js"></script>
	<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
	<script src="Scripts/angular-gettext.min.js"></script>

	<script src="Scripts/xeditable.min.js"></script>
	<script src="Scripts/phoneparser.js"></script>
	<!-- to support Sha1 encryption -->
	<script src="Scripts/sha1.js"></script>
	<!-- to support RSA .NET encryption -->
	<script src="Scripts/SystemBundle.js"></script>
	<script>
        document.write('<script type="text/javascript" src="Scripts/translations.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="app.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/appConstants.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Services/SponsorshipService.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Services/DonationService.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Services/DonorService.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Services/UserService.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Services/FlashService.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Services/AuthenticationService.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/ModalController.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Dashboard/SponsorshipController.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Dashboard/LoginController.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Dashboard/AboutController.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Directives/BankAccountDirective.js?v=' + Date.now() + '"><\/script>');
        document.write('<script type="text/javascript" src="App/Directives/SponsorshipDirective.js?v=' + Date.now() + '"><\/script>');
	</script>
</head>
<body>
	<div class="hasBackground">
		<div class="wrapper hasBackground">
			<div class="pad10">
				<div class="header" style="padding: 10px 0px;">
					<div class="logo" translate>
						<a href="http://www.worldvision.ca/" class="main-logo">
						<img src="Content/logo.png" alt="World Vision Canada"></a>
					</div>
					<div class="searchSection">
						<div id="secondaryNav">
							<ul translate><li>1-866-595-5550</li><li class="noAfter"><a href="http://www.worldvision.ca/customerservice/Pages/default.aspx" target="_blank">Customer Service</a></li></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="content" tabindex="-1" class="wrapper">
		<div id="greyBox">
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
			<div ui-view></div>
		</div>
	</div>
</body>
</html>
